[2017-04-20 03:02] pauljt opened #1 "What data will be available with Web Extension APIs?"
Web Extensions are more restrictive than legacy add-ons - we need to understand if the existing web extension APIs will be enough to gather the data needed to port lightbeam. From initial experiments basic data for third-party requests is available, but we should look at what the current lightbeam uses vs what is obtainable through Web Extension APIs.

[2017-05-09 09:15] jonathanKingston commented on #1
I think it is fair to say all of it is possible, however maybe the question should be what data should we collect to make the same graph.

I'm not sure we ever want to store so much data that having more info from the past is a good idea to add new features to that data in the future.

If we want to add a new feature we can work out how to collect the data for it... even if that means starting cou

[2017-05-09 09:55] jonathanKingston commented on #1
I also think we should probably only show load favicons if the [tab](https://developer.mozilla.org/en-US/Add-ons/WebExtensions/API/Tabs/Tab) has a favIconUrl key, then store that as a data URL to prevent auth prompts etc. This would probably mean most third parties wouldn't have a favicon however that reduces the risk of loading more data to said third party also.

[2017-05-09 10:19] jonathanKingston opened #2 "Future uses of data"
Extending from #1 we might want to discuss future use of the data.

- Storage
  - How much do third parties store on a device
- Network bandwidth
  - How often does the third party make requests
  - How big are these requests
- Persistent tracking
  - Is the data sent to the third party more likely to be finger printable (does the cache always require a revalidation, what type of request are they

[2017-05-09 10:26] jonathanKingston commented on #1
Oh and I was messing around at logging this data here:

https://github.com/jonathanKingston/extension-debugging/blob/master/third-party-logger/background.js

[2017-05-09 10:54] jonathanKingston opened #3 "Visualisation library"
A decision needs to be made about how visualisations are made. It is clear the current Lightbeam has performance issues that need to be resolved on the rewrite.
Currently we are using SVG, we should probably look to a canvas or WebGL option.

I would suggest whatever is decided on for the library, we should communicate to a object that does the drawing rather than directly calling the library.

[c

[2017-05-09 11:15] jonathanKingston commented on #3
The suggested greuler dies on 300 nodes... so that is out :D

[code]

[2017-05-15 19:39] biancadanforth commented on #1
We may not be interested in all the data being output currently, but with Jonathan's help, I can confirm that each element (`sourceVisited` excepted) can be obtained either from the `responseDetails` or `tabs` object returned below:

[code]
or

[code]

[2017-05-16 13:30] princiya commented on #3
An attempt to understand how SVG vs CANVAS vs WEBGL affects a viz library's performance:

![viz libs_1](https://cloud.githubusercontent.com/assets/8022693/26108305/688573fc-3a4c-11e7-99df-60b7723c77b3.jpg)

[2017-05-16 13:36] princiya commented on #3
Viz library's comparisons:
![viz libs_2](https://cloud.githubusercontent.com/assets/8022693/26108400/b4743244-3a4c-11e7-95a0-9f3b5898960d.jpg)

- Greuler is out already :)
- D3 is the one used with the current version of Lightbeam
- [Ogma](https://linkurio.us/blog/ogma-js-library-large-scale-graph-visualization/) (previously [Linkurius.js](https://github.com/Linkurious/linkurious.js/))
- [Sigma.js

[2017-05-16 14:16] jonathanKingston commented on #3
@gregtatum just a heads up as I know you were contacted about this for info. Would appreciate your fav libraries for review here also 👍

[2017-05-16 14:42] jonathanKingston opened #4 "Setup basic extension"
- Steal existing icon
- Make manifest file
- Make a browser action to create a tab

[2017-05-16 14:56] jonathanKingston opened #5 "Add ESLint as part of automated build"

[2017-05-16 15:10] princiya commented on #4
This is what I created as part of my application process to Outreachy: https://github.com/princiya/log-network-requests
A simple web extension

[2017-05-16 15:16] biancadanforth commented on #4
Thanks Princiya! Yes I made [one](https://github.com/biancadanforth/network-requests-webext) too, and I have [Jonathan](https://github.com/jonathanKingston/extension-debugging)'s as a reference as well. No shortage of resources on this front, heh.

[2017-05-16 15:17] jonathanKingston opened #6 "Initial storage class"
Create a class with CRUD functionality (Create Read Update Delete) for pushing something into a storage database.

This will allow us to change the storage later whilst keeping the same wrapping class.

[code]

[2017-05-16 15:58] jonathanKingston opened #7 "Initial capture of data"
In #1 we set out to decide what is needed to capture.

In the MVP we should aim to have a class/object that can be setup to manage the communication with the browser then use the storage class.

[2017-05-17 00:00] jonathanKingston opened #9 "Decide on coding style"
As this is a project that mostly @princiya and @biancadanforth will be working on, we should decide on a style and stick to it.

I'm happy to setup the ESLint config of whatever is decided.

Eslint default rules are mostly undisputed the common ones are:

- Tabs / 2 space / 4 space
- Single Quotes, Double Quotes
- Semi colons / Semi colons when needed

I suggest prefer const, async/await wherever

[2017-05-17 08:02] princiya commented on #9
ESLint preferences:
- Tabs
- Single Quotes
- Semi colons

Looks like these align well with @biancadanforth 's coding style too.

Also, ES6 wherever possible - const, async/await, template literals etc. 👍

[2017-05-17 08:41] princiya commented on #9
Also, we could add a pre-commit ESLint git hook

[2017-05-17 08:50] jonathanKingston commented on #9
I had planned to do that today yeah as I'll likely commit spaces and double
quotes otherwise :D

On Wed, 17 May 2017, 09:41 Princiya Marina Sequeira, <
notifications@github.com> wrote:

[2017-05-17 09:48] #5 closed

[2017-05-17 09:53] jonathanKingston commented on #9
@pauljt I need admin privs or some other special powers to add web hooks.

Under "Collaborators and teams", set me as an admin.

[2017-05-17 15:13] #4 closed

[2017-05-17 23:41] biancadanforth commented on #9
My coding style is loosely based off of [AirBnB's JavaScript style guide](http://airbnb.io/javascript/). I do not have strong opinions (yet) about this, so I am flexible and interested in hearing other people's perspectives!

@princiya Would you be open to 2 spaces instead of tabs? Many text editors (like Sublime 3) have a setting that translates a tab as 2 spaces:
`"translate_tabs_to_spaces": tru

[2017-05-18 01:56] pauljt commented on #9
Tangential note, but I am really digging jsprettier (http://jlongster.com/A-Prettier-Formatter). Its orthogonal to the style we choose, but I love the fact that there are no style decisions that need to be made at all since its all programatic. (e.g. takes care of long function names which cause line breaks etc)

[2017-05-18 15:36] jonathanKingston commented on #6
As mentioned on slack, it could be implemented as a class or instance object.
There would be a need for a singleton possibly if a class is used.

Feel free to use either or ask as and when you have issues :)

[2017-05-19 08:01] #9 closed

[2017-05-19 15:39] biancadanforth opened #13 "Choose client-side data storage"
In our MVP web extension, we use the _storage_ API, but it may not suit our needs long term (e.g. for advanced filtering). We should figure out what our storage requirements are and what the most appropriate option will be (other options: indexedDB, SQLite...).

[2017-05-19 15:52] biancadanforth opened #14 "Re-focus tab on subsequent browserAction icon clicks"
Currently, when the user clicks the icon, Lightbeam (if not already open) opens in a new, focused tab. The Lightbeam tab should refocus if it is still open on subsequent clicks.

[2017-05-22 17:19] biancadanforth commented on #7
Based on a slack discussion, I am working on an object structured more or less like this to capture data:

[code]
Interestingly, when I visit youtube.com, among the many responses, I get an originUrl other than youtube.com (specifically, doubleclick.net) that itself makes a number of third party requests. @jonathanKingston, how should these requests be captured?

[2017-05-22 17:44] princiya opened #15 "Structure of store object"
Based on our slack discussions, this is the proposed structure for the store object:
[code]

[2017-05-22 17:50] biancadanforth commented on #15
Thanks! @princiya, @jkt I believe we also discussed not capturing cookies as part of the MVP? Looking at slack history.

[2017-05-22 17:56] jonathanKingston commented on #7
@biancadanforth it's likely that doubleclick scripts load more 3rd parties. Currently Lightbeam treats all of these requests as third parties to youtube.com however I think they log where it was loaded from.

From memory there are a few undocumented Firefox specific properties that give better answers to these questions. However I'm not sure how this would be ported to chrome. Can you dump out som

[2017-05-22 18:03] biancadanforth commented on #7
@jonathanKingston, for an `originUrl` of doubleclick.net and a `targetUrl` of 2mdn.net, the `response` object is:
[code]
I am not making any other API calls at the moment.

[2017-05-22 18:04] jonathanKingston commented on #7
https://github.com/jonathanKingston/extension-debugging/blob/master/third-party-logger/background.js#L48

[2017-05-22 18:37] biancadanforth commented on #15
I have removed cookies, replacing it with a new key `additionalRequests`. This key indicates any requests a third party makes to additional third parties. For example, when visiting youtube.com, doubleclick.net makes an additional request to 2mdn.net.
[code]

[2017-05-22 18:48] biancadanforth commented on #15
I have removed `cookies` and added a `loadedBy` key to show additional requests made by third parties as the originUrl.

[code]

[2017-05-22 23:43] jonathanKingston commented on #7
As mentioned on slack, lets not over complicate the capturing stage.

[code]

From my initial debugging [here](https://github.com/jonathanKingston/extension-debugging/blob/master/third-party-logger/background.js#L42) all those Urls are different sometimes different.

My understanding is:

- documentUrl: If the sub resource was loaded from a subframe
- url: the url being loaded itself
- origin: the

[2017-05-23 00:09] jonathanKingston commented on #15
It might not have been clear on this.

In https://github.com/electrolyfish/lightbeam-we/issues/7#issuecomment-303249670 I mentioned that the capture should be isolated from the storage code.

I'm also not exactly worried about how we store these right now. We can probably aggregate data sent to the storage object under "hostname" for both for first party and third party requests. This aggregating

[2017-05-23 10:06] princiya opened #18 "Storage object: set method"
In `browser.storage.local.set(keys)` method, the `keys` param is:
[code]
Our store structure looks like the following: #15
[code]
When we call `set()` to add/update hostnames, we need to pass the whole `websites` object. `websites` will be the key to the `browser.storage.set()`.
We need to update the local `websites` object with the right logic to add/update etc.

@jkt open for discussions, before

[2017-05-23 10:23] jonathanKingston opened #19 "Testing platforms"
@princiya asked how we should be testing the extension so lets discuss that here.

This example has both functional and unit tests: https://github.com/Standard8/example-webextension

Unit tests likely make the most sense for the storage methods. For browser apis we potentially could mock them but I suspect it might make more sense to make those functional tests.

I don't think there needs to be a

[2017-05-23 10:46] jonathanKingston commented on #18
We just need to make sure whatever `set` does `get` behaves the same way. Like I think some of the other code treats this as "set single item" where as `get` is "get all".

We might want to use `_` prefix for internal methods to this object as the concept of private isn't really possible just "out of scope" which isn't really the same. [There are proposals for the future on this though](https://gi

[2017-05-23 11:47] princiya commented on #18
How about `_write()` instead of `_store()`?

[2017-05-23 12:01] jonathanKingston commented on #18
Sure!

[2017-05-23 13:30] princiya opened #20 "UR/UX"
From slack discussions, here are @jkt 's questions:

1. Ask about UX of how to express tracking
2. Use "boxes" as a notation and suggest if they could put some sites that link to "Lots" of websites in a "box" would that help understand?

More questions to be added through discussions!

[2017-05-23 15:16] gregtatum commented on #3
In my experience performance is not blocked on the actual force layout, but on the rendering of the nodes. I would think doing the force layout using d3, and then rendering with canvas would yield good performance:

[code]

In my opinion, force layout is not a great candidate for server side, as it's an integration based layout, and requires many iterations to get correct results. There could be o

[2017-05-23 15:49] groovecoder opened #21 "Consider improving README.md"
I'm personally a fan of [README-driven-development](http://tom.preston-werner.com/2010/08/23/readme-driven-development.html).

[2017-05-23 16:09] groovecoder opened #22 "Consider some linting tools?"
I've found automatic HTML, CSS, and JavaScript linting tools really useful.

Could add `addons-linter`, `eslint`, `stylelint`, and/or `htmllint` to this repo and even a `.travis.yml` to enforce them on pull requests.

[2017-05-23 16:39] princiya commented on #21
yes i wanted this one too. then thought maybe we do this after the MVP?! :)

and the issue should be title, not 'improving'. 'writing' one instead ;)

[2017-05-23 16:41] princiya commented on #3
@gregtatum Thanks for your inputs :) I will try to reflect on what you have suggested, and get back soon with further doubts/questions.

[2017-05-23 18:51] jonathanKingston commented on #22
Yeah we have ESLint. Stylelint is certainly good too. I have been lazy in
implementing the hook... Will fix that.

On Tue, 23 May 2017, 17:09 luke crouch, <notifications@github.com> wrote:

[2017-05-24 01:48] jonathanKingston commented on #19
@princiya the code https://github.com/electrolyfish/lightbeam-we/blob/master/js/store.js#L62 needs to be moved into non functional code, even if we make it require a console call to trigger it for now. However moving this to be a test would be neater.

[2017-05-24 14:43] biancadanforth commented on #20
Those are good questions princiya. I just read this article about [asking good questions in UR](https://medium.com/user-research/never-ask-what-they-want-3-better-questions-to-ask-in-user-interviews-aeddd2a2101e).

Hoping to learn more from groovecoder about his audience in our meeting today, since that may help us to better frame the questions too.

Here are some of my ideas for possible question

[2017-05-24 14:45] princiya commented on #20
@biancadanforth Those are @jkt 's questions :) I made a note of them from slack.

[2017-05-24 14:59] biancadanforth commented on #20
I haven't been on slack, so I guess great minds think alike!

[2017-05-24 15:28] jonathanKingston commented on #20
- How would using lightbeam change your use of the internet?
- How would you save yourself from the evils?

[2017-05-24 15:30] princiya commented on #20
- Would you recommend Lightbeam to others?

[2017-05-24 15:43] groovecoder commented on #20
From [the Mozilla Privacy Basics Lightbeam class](https://chadsansing.github.io/curriculum-testing/expanded-privacy-curriculum/tracking-cookies.html):
Before Lightbeam:
* Is all tracking bad?
* Can you think of an instance when you're ok with sharing your data?
* What kind of organizations do you think might already be tracking you across the Web?

After Lightbeam:
* How would you explain the idea

[2017-05-24 15:57] biancadanforth commented on #20
Here's what we seemed to converge on from our meeting:

- Have you ever used a tool like Lightbeam before? If so, please list.
- If you had to summarize what Lightbeam does, what would you say?
- Was there anything that you found especially valuable? Especially confusing?
- Would you use Lightbeam again?
- (from Mozilla class @groovecoder posted above) What habits can you develop - and what strate

[2017-05-24 21:40] groovecoder commented on #20
ooo, I just started this paper which seems very relevant to Lightbeam? http://delivery.acm.org/10.1145/2900000/2892413/ea2837-gambino.pdf?ip=68.0.123.163&id=2892413&acc=CHORUS&key=4D4702B0C3E38B35%2E4D4702B0C3E38B35%2E4D4702B0C3E38B35%2E6D218144511F3437&CFID=940430111&CFTOKEN=89342189&__acm__=1495662231_f368be1ddae185122755a0c040c3da02

[2017-05-25 09:25] #7 closed

[2017-05-25 09:27] #14 closed

[2017-05-25 09:29] jonathanKingston opened #25 "Move all JS files under js/ dir"
To keep the code consistent please move all code under the `js` dir

[2017-05-25 09:41] jonathanKingston opened #26 "Fix third party check"
Currently capture.js uses the following:
[code]

It should probably be checking for:
[code]

or
[code]

[2017-05-25 11:13] #25 closed

[2017-05-25 15:18] groovecoder commented on #20
FTA, to @jonathanKingston's question about "containing" or "boxing-in" trackers ...

So I guess we should re-name "Containers" to "Bubbles" ?

[2017-05-25 16:01] biancadanforth opened #29 "Add ESLint rules to fix poor alignment in multi-line statements"
Some examples below:

BEFORE:
[code]
AFTER:
[code]
BEFORE:
[code]
AFTER:
[code]

[2017-05-25 16:28] #26 closed

[2017-05-25 22:28] #29 closed

[2017-05-25 23:39] biancadanforth commented on #20
@groovecoder : Great article! It kind of had a 'holier-than-thou' tone, which I found amusing. :) Here are some of my take-aways that we could apply to the Lightbeam UI:
- Nudges in the form of visual cues (ex: password strength meter, the lock icon next to the website URL to indicate a valid security certificate) have been shown to result in improved privacy behavior. If we do provide actions use

[2017-05-26 17:09] biancadanforth opened #32 "Write unit tests for basic webextension set-up"
Since we will shortly have a basic test harness set up (#19), I would like to write some unit tests for the basic webextension set-up (specifically, background.js, #4 , and possibly capture.js, #7 ).

[2017-05-26 20:23] groovecoder commented on #20
Here's a .zip of the feedback sheets people filled out after the Lightbeam class @ the library.

[lightbeamfeedback.zip](https://github.com/electrolyfish/lightbeam-we/files/1032902/lightbeamfeedback.zip)

[2017-05-30 21:50] biancadanforth opened #33 "Decide which assertion library style to use and enforce"
@princiya has made an initial test set-up #23 using the _Expect_ BDD style, while @jkt expresses his strong preference for the _Assert_ style. We should choose a [style ](http://chaijs.com/guide/styles/) to use and enforce it via ESLint.

From our slack discussion thus far, jkt says _Should_ is dangerous since it modifies the object prototype with a `should` property and _Expect_ is not truly BDD

[2017-05-31 12:00] princiya commented on #33
Thanks for creating this issue @biancadanforth

Honestly, I have used `expect` by fluke. I only felt `should` wasn't appropriate, but was clearly not sure about the differences between `expect` and `assert`. Thanks @jkt for the brief summary.

I will create a PR and let's stick to `assert`

[2017-05-31 15:06] biancadanforth commented on #33
Great thanks @princiya. I will use `assert` for my tests as well then!

[2017-06-01 11:11] princiya opened #34 "Add git hook - `husky`"
It is easy to forget to run linting or test tasks before committing or pushing code and this can result in a broken build.

A way to work around the above problem is to use git hooks and I suggest to use `husky`.

Open for discussions :)

[2017-06-01 23:00] #33 closed

[2017-06-01 23:03] #21 closed

[2017-06-01 23:06] jonathanKingston commented on #34
Seems good to me, never used it but jQuery is on the tin etc and probably super lightweight package. @biancadanforth are you good with this?

[2017-06-02 06:17] biancadanforth commented on #34
@princiya, @jkt: Seems like a good idea, but I'd like to make sure I understand things...

I looked a bit at husky's [documentation](https://github.com/typicode/husky) - looks like it basically calls ~`npm test` at various stages of the git commit/PR process--and for us those stages are pre-commit for eslint test and pre-push for all tests? Perhaps I don't fully understand, but doesn't Travis do s

[2017-06-02 09:32] princiya commented on #34
@biancadanforth Travis is post-push. Travis ensures the whole build is continuously integrated. Travis also comes with test coverage reports etc, (We need to do this next).
Husky is for us (developers) to make sure we don't push bad code.
@jonathanKingston correct me :)

[2017-06-02 09:33] princiya opened #38 "Add code coverage reports"
Do this as part of the Travis build process.

[2017-06-02 10:08] princiya commented on #21
@jonathanKingston @groovecoder @biancadanforth which license do we mention in the readme?

[2017-06-02 20:12] biancadanforth commented on #21
@princiya I don't know too much about licensing, but I did check the original Lightbeam repo [license](https://github.com/mozilla/lightbeam/blob/master/LICENSE), and that uses Mozilla Public License 2.0.

[2017-06-03 03:42] biancadanforth commented on #34
Well, @princiya I think husky sounds like a good idea. Not sure exactly how it works, but I guess I'll find that out on my next PR!

[2017-06-03 05:33] princiya commented on #34
To test it out, break some eslint rules and try to commit your code, it fails. Break some tests and try to push your code, it fails! @biancadanforth

[2017-06-03 05:57] princiya commented on #34
@biancadanforth taking the last shot in convincing you :) let's see, if this works.

husky is client side, travis is server side.

what I mean from the above statement is, developers can remove/disable husky from their package.json, checkin some untested/unlinted code. But Travis catches this and fails the build.

[2017-06-07 12:55] #34 closed

[2017-06-07 12:57] jonathanKingston commented on #20
Closing this as I think we got the feedback we wanted. If we want to run this again etc we can create another issue etc.

[2017-06-07 12:57] #20 closed

[2017-06-07 13:01] jonathanKingston commented on #1
I actually think we can close this out as we established that we can capture all the data needed. We have a few similar duplicate bugs.

[2017-06-07 13:01] #1 closed

[2017-06-07 13:02] jonathanKingston commented on #13
This is post MVP as we are using the browser storage for now which is good for the MVP at least.

[2017-06-07 13:07] jonathanKingston opened #41 "Utilise the visualisation lib to draw a graph based upon storage"
Somewhat an overlap with #3 however I wanted to make sure we had clarity here.

The extension will be made of the following parts:
1. Capture object
2. Storage object
3. Visualisation object
4. Lightbeam page code

Stages:
- **1.** stores into **2.**
- **3.** draws to a canvas
- **4.** reads from **2.** and draws with **3.** to a canvas in the page

[2017-06-09 16:47] biancadanforth commented on #34
Okay thanks @princiya for that clarification. I will try it out shortly!

[2017-06-09 23:47] biancadanforth opened #42 "Integrate storage API with data capture"
Update `capture.js` to call `store.setFirstParty` and `store.setThirdParty` methods.
Use consistent naming between arguments in `capture.js` and method parameters in `store.js`.

Questions to answer:
- What is the difference between `origin`, `target`, and `document` URLs?
- How often are `origin` URLs different from `document` URLs?
- What to do in these cases?

[code]

[2017-06-09 23:58] biancadanforth commented on #42
**What is the difference between origin, target, and document URLs?**
`origin`:
- [documentation](https://developer.mozilla.org/en-US/Add-ons/WebExtensions/API/webRequest/onResponseStarted#details)
- string. URL of the resource that triggered this request. Note that this may not be the same as the URL of the page into which the requested resource will be loaded. For example, if a document triggers

[2017-06-12 09:40] jonathanKingston commented on #42
I think this is correct yeah.

Firefox also has the undocumented [`response.documentUrl`](http://searchfox.org/mozilla-central/source/toolkit/components/extensions/ext-webRequest.js#53) it might be worth checking how different that is to `tab.url`. My hunch is that this will provide iframe URLs that loaded the `target` rather than saving us querying for the tab, it also likely will differ from `or

[2017-06-12 14:34] jonathanKingston opened #44 "Document storage options follow up"
Follow up from https://github.com/electrolyfish/lightbeam-we/pull/39

I'm fine to change `origin` to `firstPartyOrigin` in a follow up, perhaps also with a description of the arguments being that this will be part of this objects API.

We should add more documentation of the methods in JSDoc format and also consider renaming the properties passed into the function to improve clarity.

[2017-06-12 14:34] #18 closed

[2017-06-12 14:53] jonathanKingston opened #45 "Remove any global off ESLint comments"
Comments like: https://github.com/electrolyfish/lightbeam-we/blob/master/js/capture.js#L1
Should be removed, in favour fixed to not be required. If this isn't possible then disable just one line not the entire file.

For example: `// eslint-disable-next-line no-unused-vars`

However the "classes" can be turned into globals within ESLint `eslint.json` preventing the need for some of these.

[code]

[2017-06-12 17:58] biancadanforth commented on #42
Thanks @jonathanKingston .

I am looking at `response.documentUrl`, but it is returning `undefined` every time for my `onResponseStarted` requests... What response object or event is that property present in? I am reluctant to use undocumented properties in general -- isn't that risky?

In response to your _Things to consider_:
 - You are correct that when `origin` differs from `document`, `parent

[2017-06-12 20:21] biancadanforth commented on #45
@jonathanKingston ; I believe PR#43 closes this; but correct me if I am wrong?

[2017-06-12 20:27] jonathanKingston commented on #42
I already spoke to web extension devs about it, it's not documented because I think it might not be in stable. Also no, I was just making a point it exists. We are likely to want Chrome support at some point so using this is likely not a great idea.

Mostly none, just thought it would help explain what is happening here.

I think it might still happen for the webRequest third party code too.

Thir

[2017-06-12 20:58] #42 closed

[2017-06-13 08:50] princiya commented on #45
This has been fixed :). @jonathanKingston @biancadanforth

[2017-06-13 16:24] biancadanforth commented on #42
@jonathanKingston No it wouldn't make a separate call to the storage API as written. But, if we are making a directed force graph, then a link between the first and third party would already be represented on the graph, wouldn't it? Should I make a separate issue for discussion of this?

[2017-06-13 18:07] jonathanKingston commented on #42
Yeah follow up bug is fine, indeed it won't be represented on the current
graph. It's not MVP either.

On Tue, 13 Jun 2017, 17:24 Bianca Danforth, <notifications@github.com>
wrote:

[2017-06-13 23:13] #41 closed

[2017-06-14 14:25] jonathanKingston opened #48 "Change setTimeout in lightbeam.js to be event driven"
setTimeout is often an antipattern and in this case we are waiting 5 seconds which is a very long time.

Probably use either:
[readystatechange](https://developer.mozilla.org/en-US/docs/Web/API/Document/readyState) or [load](https://developer.mozilla.org/en-US/docs/Web/Events/load)

[2017-06-14 14:29] jonathanKingston opened #49 "MozExtension paths should be excluded from storage"
In capture we exclude `about:` we should also include `moz-extension:` to be ignored.

[2017-06-14 14:38] jonathanKingston opened #50 "Cater for cleared storage"
I get the following error when loading the lightbeam page after deleting that key in the storage. Store.js should probably account for the storage being removed and just assign a blank object or whatever.

[code]

[2017-06-14 14:50] jonathanKingston opened #51 "Storage doesn't seem to get all third parties"
STR:
- Open mozilla.com
- Click browser action button
- In console type the following:
[code]

For the first request I wasn't getting a `thirdPartyRequests` key at all. For the second time through I was only seeing `google-analytics.com` however Mozilla also uses google tag manager also.

I see URLs come into the `capture.js` like `"https://www.googletagmanager.com/gtm.js?id=GTM-MW3R8V&l=dataLayer

[2017-06-14 15:01] jonathanKingston commented on #51
I think it might actually be that `store.setFirstParty` overrides any previous value. Store both set first and third party should likely merge existing third party assignments.

It looks to me like a call from capture to `setFirstParty` might happen after the `setThirdParty` which seems perfectly reasonable really. Also reloading the page shouldn't clear third parties from a previous request too.

[2017-06-14 16:27] biancadanforth opened #52 "Consider capturing third party requests to first parties"
A follow-up issue from #42 .

From @jonathanKingston :

The current code for data capture does not account for this, though since we do capture first party requests to third parties, the edge between the two sites would be represented on a directed force graph already.

Do we want to capture this information, and if so, how? What would we do with it?

[2017-06-14 22:43] biancadanforth opened #53 "Create initial UI"
For now, this means to reproduce the legacy Lightbeam UI.

![legacylightbeam](https://user-images.githubusercontent.com/17437436/27157810-5bb142e0-5118-11e7-8116-6f041769d793.png)

Later we can consider improvements/changes!

[2017-06-15 16:53] princiya commented on #50
@jkt, did you delete this key through the console? I am not able to reproduce this bug.

[2017-06-15 19:21] princiya opened #54 "Storage api is populated with old values"
STR:

- Open Lightbeam
- Open console
- Clear the storage manually through the console: `browser.storage.local.remove('websites').then(()=>console.log('removed')).catch(err=>console.log(err))`
- Also set `store._websites=null` manually through the console
- Refresh the page - graph disappears
- Refresh the page again, graph appears with old values

This shouldn't be the case. We need to ensure the

[2017-06-15 20:26] jonathanKingston commented on #54
Unfortunately this is happening because there are more than one instance of store.js which is likely going to end in disaster.

The solution here is likely another object that messages to background version of store.js using message passing: https://developer.mozilla.org/en-US/Add-ons/WebExtensions/Content_scripts#Communicating_with_background_scripts

So one solution might look like:
[code]

[cod

[2017-06-16 06:46] princiya commented on #54
@jonathanKingston Thanks for the detailed explanation here :) Working on this now. I am glad we figured this disastrous thing during our initial stages!!!!!

[2017-06-16 10:00] #53 closed

[2017-06-16 10:05] jonathanKingston opened #55 "Nit follow ups for layout"
As mentioned in: https://github.com/electrolyfish/lightbeam-we/pull/47/files there were some comments that were mostly questions.

**Comment 1:**
[code]

**Comment 2:**
[code]

[code]

**Comment 3:**
[code]

[2017-06-16 10:51] jonathanKingston opened #56 "Header fixes for small screens"
This isn't about implementing a full responsive layout that can come later.

However on smaller screens some of the text wrapping causes layout issues:

![selection_692](https://user-images.githubusercontent.com/338988/27222958-5626e324-5286-11e7-9036-7ffc18ab1916.png)

The HTML for this top bar is also:
[code]

I'm fairly convinced with grid this could be:
[code]

Comments:

- Using span's for bl

[2017-06-16 14:15] #48 closed

[2017-06-16 14:15] #51 closed

[2017-06-16 14:15] #50 closed

[2017-06-16 15:53] biancadanforth opened #58 "Consider CSS Custom Properties"
Issue #53 just scratched the surface on CSS Custom Properties (colloquially known as CSS variables), using the `:root` selector and setting up some global variables, similar to what can be done in SASS.

Unlike SASS variables, which are always global, CSS [Custom Properties](https://developer.mozilla.org/en-US/docs/Web/CSS/--*) can also scope variables to a particular element. All CSS Custom Prope

[2017-06-16 16:00] biancadanforth opened #59 "Replace physical properties with logical properties"
Issue #53 represents a good start to a static version of the UI, however we will need to consider what happens to the UI for localization.

[Logical properties](https://drafts.csswg.org/css-logical-1/) are a new CSS specification that Firefox largely already supports. This modifies text for the text direction of a language.

[2017-06-16 18:14] biancadanforth commented on #56
@jonathanKingston Thanks for the suggestion. Lots of new (to me) HTML elements to learn about.

[code]
Why are we using `<time>` here instead of `<var>`, since we are pulling the date value from the store ultimately?

Also, regarding the tracking protection toggle switch: I updated it to use an `<input>` and `<label>` element, but to have a customized switch (that is still coupled to the checkbox

[2017-06-16 20:48] jonathanKingston commented on #56
Because time means more semantically.

It should be possible with the right nesting and pseudo selectors in CSS using `:checked` and perhaps sibling selectors `input::checked + div` and perhaps pseudo elements like `::before` and `::after`.

That sounds OK too, I haven't thought about it much but I suspect min-width isn't needed but not sure.

[2017-06-16 21:41] #55 closed

[2017-06-16 22:00] biancadanforth commented on #56
`min-width` is not needed ultimately; it's just a temporary way to prevent the header from breaking as you narrow the screen until a more comprehensive, responsive layout is made (which I am happy to take a stab at in the near future!).

[2017-06-19 14:18] #49 closed

[2017-06-19 14:21] #56 closed

[2017-06-19 14:27] jonathanKingston opened #64 "Use consistent braces for arrow functions"
From #62

[code]

IF you can find an Eslint rule that would be great too.

[2017-06-19 14:29] jonathanKingston opened #65 "Make vars dynamic"
From #61

Make `<var` and `<time>` elements dynamic from storage data.

[2017-06-19 14:31] jonathanKingston opened #66 "Fix toggle button to work in CSS"
Remove the hard coding of "off" and use CSS to control the toggle button.

The functionality of this button can be done elsewhere.

[2017-06-19 14:37] jonathanKingston commented on #66
**Note** the functionality itself depends on a web extension API that doesn't exist yet. See: https://bugzilla.mozilla.org/show_bug.cgi?id=1345158

[2017-06-19 15:50] jonathanKingston commented on #54
@princiya https://rosettacode.org/wiki/Respond_to_an_unknown_method_call#JavaScript can be used by the "store-child" to always call the parent and reduce overhead of having code in two places.

[2017-06-20 15:16] princiya opened #68 "Mock browser storage api in tests"
The current implementation of tests mocks the whole store object.

A proposed change is to have the tests use the actual store object and mock only the browser storage api calls.

[2017-06-20 15:17] princiya commented on #68
@jonathanKingston fil in the blanks:)

[2017-06-20 15:17] biancadanforth opened #69 "UI/UX and other questions for previous Lightbeam developers"
Let's use this issue to share any questions we have in advance of our meeting(s) with the creators of the previous version of Lightbeam; here are some that I thought of:

- Did you perform any user testing on the existing Lightbeam, and if so, do you have the notes from those tests that you could share?
- What would you change and why?
- What would you keep and why?
- Did you do any studies (such

[2017-06-20 15:35] princiya commented on #69
- Why the name 'Lightbeam'?
- What is an interesting feature/piece of code you wrote for Lightbeam?
- Any challenges faced in code/architecture design?
- Lessons learned/advice for new developers?

- Visualisations being an integral feature, what was the thought process behind this?
- Performance related issues and steps taken/discussed?

[2017-06-21 01:04] mmmavis commented on #69
In case I forgot to share this gif tomorrow...

![lightbeam](https://user-images.githubusercontent.com/2896608/27362341-a9f01200-55e2-11e7-94bf-9200702e7788.gif)

Not sure this feature works for everyone as it doesn't work for @sabrinang.

[2017-06-21 15:23] jonathanKingston commented on #68
Sorry missed this @princiya.

So my idea was that we could have:
[code]

We need to import this code somehow in here along with the store too into:
https://github.com/electrolyfish/lightbeam-we/blob/master/karma.conf.js

Then the test (maybe we might need to use imports here perhaps?):
[code]

As this is test code and not part of the addon, I'm happy to have a karma import module installed which w

[2017-06-21 15:38] biancadanforth commented on #69
Link shared by Mavis Ou in slack, [Lightbeam Ted Talk](http://blog.ted.com/meet-collusion-announced-today-onstage-at-ted-u/).

Link shared by Sabrina Ng in slack, [Initial Lightbeam Design Research](http://research.ecuad.ca/lightbeam/).

[2017-06-22 12:27] princiya opened #71 "Proxy object for the store object"
This PR - #70 fixes the duplicate store bug - #54

However we need to use a `proxy` object - https://rosettacode.org/wiki/Respond_to_an_unknown_method_call#JavaScript to avoid having same code in both parent-child store objects.

[2017-06-22 23:03] #54 closed

[2017-06-23 09:28] #45 closed

[2017-06-23 09:31] #15 closed

[2017-06-23 09:35] #69 closed

[2017-06-26 16:12] biancadanforth opened #73 "Capture third party favicons"
Currently, our capture script only sends first-party favicons to storage. We should also obtain third party favicon URLs if available and send it to storage.

@jonathanKingston First-party favicons were obtained through the `browser.tabs.onUpdated` method, which passes a `tabs.Tab` object to the callback function. Since third-party favicons won't be part of tab data, how would it best be obtained?

[2017-06-26 16:21] jonathanKingston commented on #73
For now don't look for third party favicons. Getting on a plane now...
Might be late to our meeting. see the note. Thanks

On Mon, 26 Jun 2017, 17:12 Bianca Danforth, <notifications@github.com>
wrote:

[2017-06-27 21:08] jonathanKingston commented on #58
I wouldn't suggest containers is a wonderful example. However we select different elements and rely on inheritance of the property to come through to the child element.

I think there are much more powerful examples that could be made.

For example here is a kinda meta example of a previous company I worked at:
[code]

[code]

[2017-06-28 16:34] biancadanforth opened #75 "Update visualization with a storage callback"
My earliest experiment with the D3 visualization library was using the setInterval code below to update the graph periodically with the latest values from storage:

[code]
We should provide a callback function for storage to pass to `lightbeam.js` to draw the new state of `websites` when its value changes. @jonathanKingston can you please elaborate on how this might take shape?

[2017-06-28 16:43] biancadanforth opened #76 "Prevent subgraphs in visualization from going out of view"
Currently, the forces on our force graph are causing some unattached nodes to fly out of view. Is there a way to confine the nodes to the bounds of the graph area?

[2017-06-28 17:19] jonathanKingston opened #77 "Allow scrolling of graph"
In the current light beam it is possible to scroll in the graph to zoom/in out.

[2017-06-28 17:20] jonathanKingston opened #78 "Dragging of graph"
Current lightbeam allow dragging of the graph to move around

[2017-06-28 17:28] jonathanKingston opened #79 "Site info"
Clicking a site node in current light beam I have seen work before. However it doesn't work on my current copy.

This is a point to investigate this. The information panel in current lightbeam suggests click is possible to find website info.

[2017-06-29 15:59] jonathanKingston opened #80 "Fix website node matching"
In the d3-visualisation branch we added the following code:

`if (!firstParties.has(thirdPartyNode)) {`

This won't match for an exactly the same website object. Which will not merge together multiple websites with non favicon and favicon keys.

[2017-06-29 16:07] jonathanKingston commented on #75
Super pseudo code...

Store:
[code]

StoreChild
[code]

[2017-06-29 16:08] jonathanKingston commented on #75
Ideally the above can use `browser.runtime.sendMessage()` instead of `connect` and `onConnect`

[2017-06-29 16:12] jonathanKingston commented on #75
The thing to note is that perhaps we shouldn't always fire the callback on `setFirstParty` and `setThirdParty` and instead just update when a new sites or links are added to the store. This would make the callback way less coupled to the shape stored in the storage too.

Lets discuss what that might look like however getting the above working first would be probably a quick easy step, then we can

[2017-06-29 17:23] biancadanforth commented on #13
Frederik Braun (aka Freddy from Paul's team) recommends [localForage.js](https://localforage.github.io/localForage/).

[2017-06-29 21:16] jonathanKingston opened #81 "Site label in graph"
When clicking on a node in the graph itself, the website should have a label visible of the website hostname.

[2017-06-29 21:30] jonathanKingston opened #82 "Store limits"
We should consider how much storage we have available.
How much do we want to store etc?
I think we need limit to a week perhaps like the current one does.

[2017-06-29 21:49] biancadanforth opened #83 "Reset Data functionality"
The existing Lightbeam add-on has a Reset Data button so that users can clear storage at any point. We should include this capability here as well.

[2017-07-04 21:37] #71 closed

[2017-07-04 21:37] #75 closed

[2017-07-04 21:37] #83 closed

[2017-07-04 21:39] jonathanKingston opened #86 "Check update graph issues"
In the following PR the graph updates now live:
https://github.com/electrolyfish/lightbeam-we/pull/85

However sometimes it seems the graph goes into a crazy firework show post update which doesn't look related to the other graph issues we have.

This bug is to investigate this issue.

[2017-07-04 21:46] #86 closed

[2017-07-04 21:47] jonathanKingston commented on #80
Fixed in my PR #85

[2017-07-04 21:47] #80 closed

[2017-07-04 22:13] jonathanKingston opened #88 "Investigate existing graph forces"
https://github.com/mozilla/lightbeam/blob/master/data/graph.js

[2017-07-04 22:14] jonathanKingston opened #89 "Consider dropping third parties with only one connection"
When sites with lots of third parties are drawn it can clutter the graph. Third parties that never link to another first party is basically just part of the first party usually.

This makes domains like google.com have 100s of third parties without connections and I am fairly certain the existing graph just hides these nodes until they are shared with another first party.

[2017-07-04 22:17] jonathanKingston opened #90 "Migrate to using canvas d3 drawing"
The current diagram is slowing down when lots of nodes are present. The graph should be migrated to using canvas to perform better.

[2017-07-04 22:17] jonathanKingston commented on #3
I think we can close this in favour of #90. Thanks for your work here @princiya

[2017-07-04 22:17] #3 closed

[2017-07-05 17:52] #81 closed

[2017-07-05 17:54] jonathanKingston opened #92 "Hover labels in graph"
Following from:
https://github.com/electrolyfish/lightbeam-we/pull/91

We would like to make the labels hover and also appear the same as they do in the current test pilot.

As we are likely to move to canvas this would have to position based on x and y on hover and look at the graph nodes position. (I'm not sure if d3 has this already somehow).

[2017-07-07 21:12] princiya opened #94 "Two different graphs from onUpdate(capture) & page-refresh"
![two-graphs](https://user-images.githubusercontent.com/8022693/27976936-ddd16a04-6368-11e7-88c0-25cc1cd2824c.gif)

As seen from the above gif, currently we get two different graphs.

First one, from the capture phase or onUpdate event.
Second one, on page refresh.

We need to figure out what `nodes` are passed to the `viz` object during page reload and `onUpdate` stage.

[2017-07-08 15:13] princiya commented on #94
On debugging, I found that same nodes and links are passed during onUpdate and page-refresh. This issue is to do with the drawing of the graph and the x,y coordinates.

[2017-07-10 16:47] jonathanKingston commented on #52
After initial testing of google.co.uk I see .com being a first and third party in my storage. We should address how these are stored and drawn.

[2017-07-10 16:54] biancadanforth opened #96 "Ensure there are no redundant nodes passed to the visualization"
When we capture and store first and third party requests, we should be careful to make sure we don't duplicate any entries that have already been stored.

[2017-07-10 17:13] jonathanKingston commented on #96
Is this a duplicate of: https://github.com/electrolyfish/lightbeam-we/issues/89

Are you seeing duplicate websites?

[2017-07-10 17:57] princiya commented on #96
Yes, # 89 is what I was wanting to be achieved. @biancadanforth do you agree?

[2017-07-10 20:10] biancadanforth commented on #76
@princiya , @jonathanKingston , this issue doesn't appear to be fixed to me:

![subgraphs_fly_off_page](https://user-images.githubusercontent.com/17437436/28037312-c402797a-656f-11e7-9a4d-1943039b747f.gif)

Steps to reproduce:
1. Open Lightbeam
2. Visit google.com
(Recommended: refresh the page once to get a subgraph with more than one node.
The manual `tick` calls reduce the animation frame rate,

[2017-07-10 20:28] biancadanforth commented on #96
These are separate issues; #89 is to declutter the graph but does not explicitly address the presence, if any, of redundant nodes; this one makes sure there are no redundant nodes. I am not sure if there are any redundant nodes, but this issue was created to check this.

[2017-07-11 01:21] jonathanKingston commented on #96
@biancadanforth worth checking... lets make this a less *redundant* p2 though.

[2017-07-11 15:21] biancadanforth commented on #76
Per our team discussion, we plan to address this issue with zooming (#77), as for a large number of nodes, it is not possible to squeeze the entire visualization into the graph area for all screen sizes.

[2017-07-11 15:21] #76 closed

[2017-07-11 15:58] biancadanforth opened #98 "Use the Disconnect Entity List to whitelist first-party-owned third parties"
Some websites (like fastcompany.com, below) can link to literally dozens or even hundreds third parties, creating a subgraph in the visualization that is very cluttered. Not all of these third parties are malicious trackers.

![fastcompany.com and its third parties](https://user-images.githubusercontent.com/17437436/28078840-033db5e0-661b-11e7-9f62-f09b48b56255.png)

We had originally created Issu

[2017-07-11 16:00] biancadanforth commented on #89
Closing this issue and replacing it with Issue #98 .

[2017-07-11 16:00] #89 closed

[2017-07-12 18:30] #94 closed

[2017-07-12 18:59] jonathanKingston commented on #92
@princiya did this... :)

[2017-07-12 18:59] #92 closed

[2017-07-12 22:24] biancadanforth opened #100 "Override whitelist when a third party links to multiple first parties"
A paraphrased example from @jonathanKingston:

Say you have two sites that both link to google-analytics.com:
1. google.com (owns google-analytics.com)
2. example.com (does not own google-analytics.com)

Initially, say you have only loaded google.com, the graph should only display the first party node for google.com, not the google-analytics.com third party node, since google-analytics.com is owne

[2017-07-12 23:12] jonathanKingston commented on #100
This highlights the issue very well, to follow with a little further guidance on how to make this so.

[2017-07-13 14:11] groovecoder commented on #100
Ooo, I like this improvement.

I don't have a great answer why some hostnames include `www.` and some do not. 😢 It's likely that some entities simply serve their properties and resources from the 2 separate domains.

[2017-07-17 10:41] princiya opened #102 "Interactivity on canvas"
We now have `canvas` for visualisations. #101

Interactivity is a little tricky on canvas. This issue is to setup the base for creating interactions on canvas. To start with, let's make the labels interactive!

We had an issue for interactive labels #92, this was an SVG based solution.

[2017-07-17 18:23] jonathanKingston commented on #100
From memory the chosen solution in capture was to tag the websites as `possiblyIgnorable` which the store.js code will decide if it should send out the nodes based on the links that come from this third party.

- If the third party being stored is `possiblyIgnorable` and only has a first party that we want to ignore then don't send updates.
- If the user loads the page with entities with `possibly

[2017-07-17 19:06] princiya opened #105 "Too many calls for storeChild.onUpdate()"
STR:

- In lightbeam.js, storeChild.onUpdate() add a console.statement

![screen shot 2017-07-17 at 21 01 19](https://user-images.githubusercontent.com/8022693/28284936-250e2c8c-6b33-11e7-9a21-cd42db117661.png)

- Reset Lightbeam
- Open https://mozvr.com/
- When the graph is loaded, one each thirdParty and firstParty are shown

![screen shot 2017-07-17 at 21 04 37](https://user-images.githubuserco

[2017-07-18 03:20] biancadanforth commented on #105
Thanks @princiya for making this issue; on closer inspection, `store.setThirdParty` calls `store.setWebsite` once for the first party and once for the third party. Then, later on it calls`store.updateChild`, even though `store.updateChild` is already called inside the `store.setWebsite` method. There is duplication here.

[2017-07-18 03:58] biancadanforth commented on #98
The problem (paraphrasing @jonathanKingston ):
When I visit https://developer.mozilla.org/en-US/docs/Tools/Web_Console, I only see two third party nodes, when I know it should have more (like nine) on the visualization. This problem was found in this PR and absent in @princiya 's latest PR. It must be related to the whitelist code.

The solution:
Actually, it's not! All 30+ third party requests we

[2017-07-18 10:08] jonathanKingston commented on #98
Can't remember. This seems like a decent solution for now though if that is the cause. Will check the PR. Thanks for dragging yourself through this.

[2017-07-18 10:08] #98 closed

[2017-07-18 11:40] jonathanKingston opened #107 "Add high DPI scaling to canvas"
The following made the graph look a lot more like how the SVG did on a high DPI screen.
[code]

However what I think we should be doing is instead of hardcoding the width and hight in CSS is using relative sizing and changing the context size and DPI based on that. This will require redrawing the graph when the screen changes size. Either way you need to make sure that the physical size is never o

[2017-07-18 12:19] #90 closed

[2017-07-18 13:59] jonathanKingston commented on #105
` if (newThirdParty) {` within `setThirdParty` needs to check if both firstParty and thirdParty already existed if they don't then this shouldn't fire.

Basically this line should only pass when third and first party already exist but don't have a connection between them. This might lead to more calls to update than the exact number however there currently will be a slight increase over that with

[2017-07-18 14:05] jonathanKingston commented on #105
Ugh calculating the O notation is painful, anyways... it's not going to exponentially grow with the size of the graph. This should make this a p2 at least.

[2017-07-18 14:07] jonathanKingston commented on #105
Also I probably wasn't clear but there will be more updates than there are new nodes added to the graph. Fixing that line should make it send update on new edges and new nodes which could be slightly higher than just third parties + first parties.

[2017-07-19 15:14] biancadanforth commented on #100
I have some pseudocode that I am working on implementing; this pseudocode builds on top of [this PR](https://github.com/electrolyfish/lightbeam-we/pull/106) (which will hopefully be merged soon) for adding the whitelist.

@jonathanKingston would be great to get some initial feedback from you if this seems like a good direction.

*Pseudocode*
Basically in `capture.js`, take my `onWhitelist` method

[2017-07-19 15:35] jonathanKingston commented on #100
@biancadanforth this won't work as the user might restart the browser between loading a whitelisted page and loading the same third party on a page we care about, we will need to store these.

This is why I was suggesting that `sendThirdParty` would be passed some an array of ignorables for that third party.

So:

- google.com loads googleanalytics.com
- store recives:
[code]
- store only emits th

[2017-07-19 15:37] jonathanKingston commented on #100
We could also move all the logic into store perhaps, we will want to share the domain matching logic perhaps. (This can easily be in a util.js also)

[2017-07-19 16:17] biancadanforth commented on #100
So @jonathanKingston , the whitelist check inside `capture.sendThirdParty` would populate the `data[ignorables]` array for that third party (and perhaps flag it as ignored with a separate `isIgnored` boolean to tell us what its current ignore status is?)... what about something like this?:

[code]

... and `store.sendThirdParty` would check if the first party is in the `data[ignorables]` and if `i

[2017-07-19 17:12] jonathanKingston commented on #100
`isIgnored` is just duplicating half a check, I don't think we need that.

Only store will know the true answer to this, otherwise we will be making capture query store first. We are pushing a third party to the store, the capture code doesn't know the current state of that website in the store. So it might be that google analytics has been seen on multiple sites already.
`isIgnored` could be stor

[2017-07-19 17:14] jonathanKingston commented on #100
Give me a second, I'm re-thinking yet again.

[2017-07-20 10:54] jonathanKingston commented on #100
Further brain dump from previous meeting:

As discussed this whitelist work will move to store.js and capture will continue to be stateless.
We agreed the stored website object having a boolean to represent if a site has been seen on a non whitelist first party. This means store will skip the stages of looking through the whitelist at all when it has.

The state will be captured of if it's ignorab

[2017-07-24 22:37] #102 closed

[2017-07-26 18:42] biancadanforth opened #110 "Consider how to draw first parties that are also third parties"
For example: www.google.com is a first party site, but is also a third party site for www.youtube.com. If you visit www.google.com and then www.youtube.com, the google first party node disappears in the visualization currently, because the `www.google.com` website object gets assigned an `isVisible` key with a value of `false` once is it linked as a third party by www.youtube.com.

When a website

[2017-07-26 18:51] biancadanforth opened #111 "Do not capture request data from Private Browsing, possibly Containers"
Currently our capture script does not filter out requests made using Private Browsing or Containers. We definitely want to filter out Private Browsing requests, and we should discuss whether or not we want to filter out Containers requests.

[2017-07-27 21:45] princiya opened #113 "Redraw graph on browser window resize"
The graph needs to be responsive.

On browser window resize, get the updated dimensions using `window.getComputedStyle()` and redraw the graph.

[2017-07-28 09:35] #100 closed

[2017-07-28 15:31] biancadanforth commented on #110
@jonathanKingston Found another symptom of this bug:

![firstpartiesalsothirdpartiesbug](https://user-images.githubusercontent.com/17437436/28724231-2c9e0786-736e-11e7-8f76-8bc8a78c06df.png)

**What we believe is happening:**
* A first party site (Site A) is initially drawn as expected to the visualization, linking to a third party, Site B.
* Later, another website (Site C) links to Site A as a th

[2017-07-31 01:32] biancadanforth commented on #13
Here are my [results](https://docs.google.com/document/d/1AXfXcDF_mdr7e30nWVUgS_m5kUqMvVDlNZdOHqiCOhQ/edit?usp=sharing) from some basic tests comparing localforage vs Dexie.

TL;DR: localforage seems better.

Please let me know what you guys think. :)

[2017-07-31 10:57] princiya opened #114 "Fix tooltip direction"
![Tooltip](http://g.recordit.co/bd5Cl374IB.gif)

PR #112 takes care of responsiveness. But we need to fix the tooltip direction and avoid the horizontal scrollbar.

[2017-07-31 12:06] jonathanKingston commented on #13
I added an issue on your repo to improve the tests. Hopefully those changes
will make it more realistic but local forage is super likely still to win
too.

On Mon, 31 Jul 2017, 02:32 Bianca Danforth, <notifications@github.com>
wrote:

[2017-08-01 21:08] #107 closed

[2017-08-01 21:08] #113 closed

[2017-08-02 17:35] biancadanforth commented on #13
[JSPerf](jsperf.com) test results with N = 100^ websites (units: Ops/s):
* `clearAllDatabaseFromBefore` (localforage: ~3842 - 36% faster, Dexie: ~2600)
  * Not a method we will call frequently; and Dexie's implementation is actually the IndexedDB implementation, as I had trouble getting Dexie's to work.
* `setAll` (localforage: ~3866, Dexie: ~4270 - 9% faster)
* `getAll` (localforage: ~3502, Dexie

[2017-08-07 10:16] jonathanKingston commented on #13
Please can you handle no Dexie again, I thought this was your issue at first.
There is also the issue of the db creation being async.

[2017-08-07 11:08] jonathanKingston commented on #13
I'm getting two errors in this branch:
"Error: missing: googleads.g.doubleclick.net"

and:
"throw new Error('setFirstParty requires a valid hostname argument');"

The first is from d3, the other from store, I'm not entirely sure how hostname would be invalid though.

This code however is invalid:
[code]

Instead you want to be doing something like this:
[code]
(async arrows don't work yet last tim

[2017-08-07 15:48] biancadanforth opened #117 "Make a 'first run' page"
The legacy Lightbeam has a 'first run' page the first time Firefox is run after installing Lightbeam. This helps to explain to the user what to expect and how to make the most of it.

This is a good idea that should be implemented in this updated version of Lightbeam.

Here's the legacy add-on's first run page as a reference:

![lightbeam-first-ff-run](https://user-images.githubusercontent.com/174

[2017-08-07 16:04] biancadanforth commented on #13
I think you're getting those errors because my most recent PR was intended to show you a bug related to failure to write the first party object into storage before the next call to `store.addFirstPartyLink` is made. This means some of the third party objects will have links that are not reciprocated in the first party object.

Is this code invalid because async arrows don't work yet in Nightly? If

[2017-08-07 16:08] biancadanforth commented on #13
Are you saying you're getting an error that Dexie doesn't exist? You have to do an `npm install` (and then uninstall husky) to get it to recognize the new node module for Dexie.

Are you referring to the `store.makeNewDatabase` method? That method is not async... Can you clarify?

[2017-08-07 16:29] jonathanKingston commented on #13
Well that and you aren't blocking, forEach won't block like you expect and using Promise.all will be quicker too.

[2017-08-07 16:31] jonathanKingston commented on #13
I wasn't really getting an error at all on the Lightbeam page as it was being swallowed by webext's.

[2017-08-07 16:33] jonathanKingston commented on #13
Maybe it isn't, not sure. This was failing other than missing Dexie. The error was that db was null when capture was calling it.

[2017-08-08 09:44] jonathanKingston opened #119 "Provide warning when removing all data"
Current Lightbeam has a warning:

![selection_780](https://user-images.githubusercontent.com/338988/29068071-1d5f646e-7c2d-11e7-9a72-65ebd296e066.png)

[2017-08-08 10:42] jonathanKingston opened #120 "Graph looks radically different for some sites"
So going to wearejh.com in both new and old Lightbeam produce a very different graph.

Old:
![selection_781](https://user-images.githubusercontent.com/338988/29068125-5eb0f950-7c2d-11e7-86d2-6289c6d7d011.png)

New:
![selection_782](https://user-images.githubusercontent.com/338988/29068132-66214050-7c2d-11e7-9709-cd4eb5e78e37.png)

The third parties in the new Lightbeam are present, I'm just wonder

[2017-08-08 14:48] princiya opened #122 "CSS styles for the selected node"
When a node is selected/dragged, the corresponding node needs to be highlighted.

![screen shot 2017-08-08 at 16 48 05](https://user-images.githubusercontent.com/8022693/29077922-6a71b4e2-7c59-11e7-8af1-23091c6355fd.png)

[2017-08-08 14:51] princiya opened #123 "Improve graph forces"
Currently, when there are too many sub-graphs they repel too much. This needs to be improved.

[2017-08-08 14:52] princiya opened #124 "Animations on the graph"
Good to have some animations on the graph to match the current version.

[2017-08-08 14:52] biancadanforth opened #125 "Change name of whitelist to allowlist"
In `store.js` we import the Disconnect Entity List to ignore third party requests when the first party owns the third party, Issues #98  and Issue #100 . We used the shorthand 'whitelist' in various places in the code, but we should replace this term with 'allowlist`.

![screen shot 2017-08-08 at 8 54 05 am](https://user-images.githubusercontent.com/17437436/29081267-eccb8ba4-7c16-11e7-97c3-ce055b

[2017-08-08 14:53] princiya opened #126 "Draw favicons on the graph"
If we have favicons, draw them on the graph for first party & third parties.

[2017-08-08 14:53] biancadanforth opened #127 "Make Coder Conduct and Contributors docs"
Since this is an open source project, we should have community guidelines for how people can contribute.

This includes a [Coder Conduct](https://github.com/jonathanKingston/testpilot-containers/blob/master/CODE_OF_CONDUCT.md) and [Contributors](https://github.com/jonathanKingston/testpilot-containers/blob/master/CONTRIBUTING.md) document. We can use those created by @jonathanKingston in the Conta

[2017-08-08 14:55] princiya commented on #114
Also, add styles to the tooltip with the arrow to match the current version.

[2017-08-08 14:57] biancadanforth opened #128 "Add 'About Lightbeam' sidepanel"
See legacy Lightbeam for reference.

[2017-08-08 14:58] biancadanforth opened #129 "Consider what UI features to add/remove"
There are several features of the legacy Lightbeam that we have not implemented, for example:
* Site Info
* List View
* Tracking Protection
* Toggle Controls
* Save Data
... and others.

For any UI features not implemented, we should omit them from the UI (as opposed to disabling them) and create a separate issue in GitHub of the form: Consider adding X from legacy Lightbeam.

![screen shot 2017-0

[2017-08-08 15:03] biancadanforth opened #130 "Add graph filters by time"
The legacy Lightbeam had filters by Recent Site, Last 10 Sites, etc... We should implement this!

[2017-08-08 15:05] biancadanforth opened #131 "Consider filtering visualization nodes with what is blocked with Tracking Protection"
May be more helpful than current Toggle Controls options in the Legacy Lightbeam.

[2017-08-09 00:59] #77 closed

[2017-08-09 00:59] #78 closed

[2017-08-09 01:07] jonathanKingston opened #132 "Create an updated gif for the Readme"
Now we have progressed a lot it would be great to see a nightly gif here of the latest view.

[2017-08-09 15:42] biancadanforth commented on #124
The low frame rate makes the graph look like it's twitching back to force equilibrium. This could be also related to #123 . Here's a gif that shows the twitching when I:
* drag and then pan
* drag and then zoom

![drag-pan-zoom-twitching](https://user-images.githubusercontent.com/17437436/29130405-8ee2becc-7cde-11e7-8629-5c79b5131ac1.gif)

[2017-08-10 21:43] biancadanforth commented on #110
@jonathanKingston Can you provide more details about how this could be tested? You had mentioned something about local servers in our weekly meeting which I didn't follow...

My thought:
Just as we have an allowlist override for third parties owned by first parties, perhaps we have an allowlist override override if that third party is already in storage listed as a first party?

I.e. for Google.co

[2017-08-11 08:56] #111 closed

[2017-08-11 12:02] princiya opened #136 "Highlight the clicked node"
In this PR #134, the clicked node isn't highlighted. The highlight stays only as long as the node has been dragged.

![highlight](https://camo.githubusercontent.com/8388d2a712c5cae53b0d753fccda684500f7ee04/687474703a2f2f672e7265636f726469742e636f2f665a724e544b434c456f2e676966)

When we have the site info for the clicked node, we might want to highlight the clicked node too.

[Discussion](https://g

[2017-08-13 23:15] #125 closed

[2017-08-15 15:43] biancadanforth opened #140 "Set up a place for feedback and update 'Give Us Feedback' link in UI"
The legacy Lightbeam links to `lightbeam-feedback@mozilla.org`. Since it has been several years since this was set up, we should consider where to send users (here or otherwise) if they have feedback and update the link in the UI accordingly.

One idea is to create a Lightbeam topic on [Discourse](https://discourse.mozilla.org/
). For example [Containers](https://discourse.mozilla.org/c/test-pilot

[2017-08-15 16:07] biancadanforth opened #141 "Make Lightbeam WE available to non-developers to try out"
Another Mozillian made a great observation that we should make the new Lightbeam WE available to community members for download and testing without a CLI (Node, `web-ext run`, etc. from the README).

One idea here is to have a releases page on our GitHub repo. Here's an [example](https://github.com/mozilla/testpilot-containers/releases) for Containers. Here's a helpful [GitHub article](https://hel

[2017-08-15 16:14] biancadanforth commented on #141
From @groovecoder:

[2017-08-15 16:31] biancadanforth opened #142 "Ensure data capture maps to what is blocked by Tracking Protection"
Right now, our capture code compares `documentUrl` to `targetUrl` for an HTTP response object to determine whether or not a third party request is being made.

This does not take into consideration, for example, that some third parties can also make their own third party requests, potentially in a chain.

We should consider how we are capturing this data, and if we are leaving out some requests, i

[2017-08-15 17:05] groovecoder commented on #142
Many ad exchanges & networks use `<script src="...">` and/or `<iframe>` elements that make 3rd-party requests.

E.g., a site includes rubicon project `<script>` tag, which adds an `<iframe>` containing their [cookie-syncing](http://www.adopsinsider.com/ad-exchanges/cookie-syncing/) code, which draws more `<iframe>` elements to their partners. (See [line 184 of their cookie-syncing code](https://gi

[2017-08-15 18:04] biancadanforth commented on #140
I talked to Caitlin Neiman on the Add-On's team, and she suggested the best place would be a thread on Discourse > Add-ons > Contribute > Lightbeam and use the URL there for the Feedback link and Contributors.md document.

Also she recommended Princiya and I join the [Mozillians](https://mozillians.org/en-US/) network, which gives us better access to Mozilla resources (like Air Mozilla, Discourse,

[2017-08-16 02:59] biancadanforth opened #143 "Implement Tracking Protection"
The Tracking Protection API has landed (see [Bugzilla issue](https://bugzilla.mozilla.org/show_bug.cgi?id=1345158) for details)!

We should now be able to add Tracking Protection to the UI, including enabling the toggle.

[2017-08-16 03:05] pauljt commented on #141
Since this is a web extension, I think we can just zip up all the resources we need, and then sign them. You _can_ use the web-ext tool to use that, but you need creds first. If we just want to do it occasionally, it might just be easier to use the developer interface to manually sign the zip file as an unlisted (self-hosted) extension.

IE something like:

 `zip lightbeam.zip js/* images/* css/*

[2017-08-16 03:06] pauljt commented on #141
But we should create an "npm run build" or something which pulls the lists of files from somewhere or something more maintainable than what I said above :)

[2017-08-16 03:29] pauljt commented on #141
BTW i just tested the above approach and it seems to work.
1. Create a new AMO account
2.  Choose "Submit a new addon" on the website
3. Choose the self hosted option
4. Upload the zip file and then choose to sign it
5. download the signed .xpi file, and host it somewhere

And you end up with something like
http://misuse.co/lightbeam/lightbeam-1.0-an+fx-windows.xpi

Which is installable in Firefox

[2017-08-16 09:53] princiya opened #145 "Plan for the end of internship!"
It's been a great journey so far with **_Outreachy - Lightbeam - Mozilla_**. Both, I and @biancadanforth have learned lots! While the two of us intend to keep contributing post-internship, let's use this space to create a wrap-up plan so that we are all aligned for the _official_ last 2.5 weeks of this internship.

@biancadanforth  @jonathanKingston @arroway @pauljt @groovecoder Please add your in

[2017-08-16 16:51] biancadanforth opened #146 "Increase graph size"
There are some areas where `display: grid` is used where it makes more sense to use `display: flex`.

For example, we use `display: grid` for the `main` element, which results in uneven whitespace at the bottom of the element, since we give the footer a row-height of 30%:

![screen shot 2017-08-16 at 8 28 29 am](https://user-images.githubusercontent.com/17437436/29374793-8d987866-8267-11e7-8d8c-b7

[2017-08-16 17:00] princiya commented on #146
This is a nice example of where grid works vs doesn't! Thanks @biancadanforth for summing it up so well.

[2017-08-16 20:18] biancadanforth commented on #145
Thanks @princiya for trying to centralize thinking around this. Great idea.

To the extent that some of these bullets could be (or currently are) represented by issues on the repo, I think it'd be great if we could reference them in your list, so those discussions can be tracked more closely. For example, we have issues for the CoC and Contributing docs, and some issues that are related to Communi

[2017-08-16 22:03] #114 closed

[2017-08-16 22:03] #122 closed

[2017-08-16 22:03] #126 closed

[2017-08-17 09:43] princiya commented on #145
**The plan**

- [ ] Fix P1 issues
- [ ] Fix P2 issues (based on time & availability)
- [ ] Readme, CoC, Contributing docs
- [ ] QA/Testing
- [ ] Collect feedback
- [ ] Publish

Items | Issue | PR
--- | --- | ---
P1 - Draw first parties which are also third parties | #110 | ---
P1 - Dynamic vars | #65 | ---
P2 - Improve graph forces | #123 | ---
P2 - Graph animations | #124 | ---
P2 - Graph filters

[2017-08-17 09:53] princiya commented on #145
**Next steps**
   - [ ] [Mozilla Open Leader Program](https://medium.com/read-write-participate/work-in-the-open-with-mozilla-1410be0a83b2) This program will cover the following:
       - Staying involved
       - Community building
       - Project communication / maintenance

[2017-08-17 12:25] jonathanKingston commented on #142
@biancadanforth if the first party has a service worker then it might decide to load scripts/images/css in the page which it could control in the serviceworker. This from my testing would be ignored by our code.

So for example:
- twitter.com has a SW
- twitter.com has google analytics embedded
- after install of the SW any script loads to GA would go through the SW being ignored by our normal che

[2017-08-17 12:26] jonathanKingston commented on #140
As an update I asked for a discourse category to be made for us.

[2017-08-17 20:24] laxmy commented on #66
Hi Lightbeam Team,
I'm interested in working/contributing on this project.
This looks like something I can take up. Is this up for grabs?

[2017-08-18 09:26] jonathanKingston commented on #66
@laxmy the initial work here is to duplicate a toggle that is available for the current Lightbeam (top right of the page) using CSS and semantic markup as much as possible (so using a native checkbox and style correclty based on `:checked` status etc)

The timescale is a little tight here so we might have to step in if we need to go faster, however yeah we can take patches for any "good first bug"

[2017-08-18 09:31] jonathanKingston commented on #110
This is clear for google.com however more obscure sites would need to be elevated from being a third party to being a first party. Treating them consistently to appear as a first party would be the correct behavior here.
I agree that how current lightbeam does this is what we want also.

[2017-08-18 14:56] biancadanforth commented on #66
@laxmy Thanks for you interest in helping out! We already have some HTML/CSS for this toggle, the markup is copied below. You can view the toggle by removing the `unimplemented` class on the `div.tracking-protection` element. Feel free to use this as a point of departure and reference regarding the color scheme.

[code]

[2017-08-18 15:23] jonathanKingston commented on #66
Ideally it won't need toggle or toggle status and could be done with CSS `::before` and `::after` instead but it may not be workable.

[2017-08-18 15:39] biancadanforth commented on #142
Moving a discussion from PR #115 to this issue:

@biancadanforth said:

I had to add some unglamorous fixes for some old but newly salient bugs in `capture.setThirdParty`. Let me know what you think. I'll let you decide whether the DNM flag should be removed.

Here's an explanation of the two capture bugs:

1. `browser.tabs.get(tabId)` throws an error (and exits the script) if the tabId is -1!

An

[2017-08-19 03:29] biancadanforth commented on #142
@jonathanKingston , here are my test results from completing my [experiments](https://github.com/biancadanforth/web-dev-experiments/pull/3):

Note: The URL for the web extension used for testing was 86113b9b-dde2-9343-8806-4b4a969fbf79/index.html.

**Case 1: An `iframe` loads an HTML document**

[code]

| Request#/key | `response.documentUrl` | `response.originUrl` | `response.targetUrl` |
| --- |

[2017-08-19 11:56] jonathanKingston commented on #142
@biancadanforth the nested iframe case is an issue, we need to make sure that we attribute third party requests to their top level frame first. (We could think about capturing in another property in the storage for the requests requesting document which likely would build a completely different graph) Capturing based on loading document would also solve the issue we are trying to solve here that w

[2017-08-19 12:24] jonathanKingston commented on #142
@biancadanforth it would be good to create a page which links to each test if you could that would help anyone else needing to debug this rather than comment bits out.

[2017-08-19 14:18] jonathanKingston opened #147 "Flickering of favicons on the graph when thy are moving"
STR
- Load some pages like google.co.uk urban dictionary etc.
- Drag the nodes on the graph

Expected
No flickering

Actual
Images apprear to be redrawn for every drag event, sometimes I also see multiple of the same favicon too

[2017-08-19 14:28] jonathanKingston opened #148 "Pulling nodes appears not to account for zoom"
Try pulling around a node on the graph at different zoom levels. At a high zoom level the node will move faster than the cursor is at a low zoom it moves slower than the cursor like as if the node is heavy.

[2017-08-19 15:10] jonathanKingston opened #149 "Favicons stay at the same size"
At high/low zoom the favicon is always the same size, when zooming out this makes the favicon bigger than the circles etc.

[2017-08-19 15:12] jonathanKingston opened #150 "Disconnected third parties on the graph"
In @biancadanforth's patch I am still seeing nodes that are triangle and disconnected from any other node, this should never happen.

[2017-08-19 22:35] biancadanforth commented on #150
This may be a symptom of #110 .

[2017-08-20 03:54] biancadanforth commented on #142
@jonathanKingston I cleaned up the [experiment](https://github.com/biancadanforth/web-dev-experiments/pull/3).

To move each scenario to its own page, I had to change some of the sites I use (to avoid Mixed Content warnings), since I host most of the pages on GitHub which is HTTPS. I've updated the data posted above -- the results are the same, however. As noted, the data in the tables refer to on

[2017-08-20 20:13] biancadanforth commented on #142
TL;DR - Another update: Case 4, chained iframes, actually are captured correctly for third parties making third party requests.

I realized that the iframe chain case (Case 4) wasn't set up properly. In my initial tests, I was linking:

1. biancadanforth.com has an iframe linking to biancadanforth.github.io
2. biancadanforth.github.io has an iframe linking to biancadanforth.github.io
3. biancadanf

[2017-08-21 09:45] jonathanKingston opened #151 "Fix older version of capture"
See comments here:
https://github.com/mozilla/lightbeam-we/pull/115#issuecomment-323539679

[2017-08-21 09:58] jonathanKingston commented on #142
Please don't close this for now (especially as the task here was to allow us to distinguish the third parties loading third parties when blocking, that is the actual work here not the research).

This to me also proves that we are using the wrong key for capture. origin will be correct for third party JS or CSS files where as document will only work for frames.

Can you also capture tabId none in

[2017-08-21 10:08] jonathanKingston opened #152 "Favicons don't load on first render"
When loading a first party we don't get update events through with the icons in.

[2017-08-21 10:12] jonathanKingston opened #153 "Lets not load google fonts externally"
License wise we should be able to host this locally which will prevent third parties being loaded in Lightbeam.

[2017-08-21 10:15] jonathanKingston commented on #150
Nah it's something else, probably a bug in capture.

I just got it with your patch for ssl.gstatic.com when just loading getpocket.com

I got a request to:
https://ssl.gstatic.com/accounts/o/971028622-postmessagerelay.js

This is actually a blocker.

[2017-08-21 10:39] jonathanKingston opened #154 "Graph is clipped smaller than expected"
Any black area in the current situation I think should be the graph with headings overlaid on top.

Currently the whole heading block and footer makes the graph much smaller than it could be. I think the graph shouldn't be part of the grid and instead the same size but in a different z-index.

[2017-08-21 10:44] #13 closed

[2017-08-21 11:18] princiya commented on #123
Interesting article which explains [D3-force layout](https://github.com/d3/d3-force)'s physics and algorithms - [https://medium.com/@sxywu/understanding-the-force-ef1237017d5](https://medium.com/@sxywu/understanding-the-force-ef1237017d5)

[2017-08-21 12:18] #150 closed

[2017-08-21 12:18] #151 closed

[2017-08-21 12:38] jonathanKingston opened #156 "First parties are sometimes logging themselves as a third party"
This shouldn't ever happen and it's a follow up of: #155

[2017-08-21 12:40] #156 closed

[2017-08-21 14:44] jonathanKingston opened #159 "Ensure ID is the same for the previous lightbeam"
When testing an update of lightbeam we should ensure that it overrides the existing old lightbeam. This needs the id to be the same.

[2017-08-21 14:50] jonathanKingston commented on #146
The graph should actually appear underneath all these other elements. I'm not bothered on solution.

One solution could be setting the graph as 100vh and lay over the top.

[2017-08-21 14:51] jonathanKingston commented on #154
This is a dupe #146

[2017-08-21 14:51] #154 closed

[2017-08-21 18:17] biancadanforth commented on #65
@jonathanKingston Here is some brainstorming about how to go about this:

**How to determine each value:**
1. Data gathered since
 - If there's nothing in the store, (i.e.: if it's the first run of the app or if the user clicks 'Reset Data'), update this value to be blank or '--'
 - else, the value is equal to the date of the oldest `website` object in the `websites` table in IndexedDB.
 - only ne

[2017-08-21 18:27] jonathanKingston commented on #65
We could instead populate the page async based on the current data in store
when the find result returns.

Changing store to ensure we have first capture time would potentially be
easier and useful for removing old data later.

On Mon, 21 Aug 2017, 19:17 Bianca Danforth <notifications@github.com> wrote:

[2017-08-21 18:28] princiya commented on #65
Looks good to me.

I don't think you need a separate store. We already have this information in our store.
We can have a separate page-script like `viz.js`, something like `vars.js` (name can be changed).

*`var.js`*
[code]

The way `viz.js` gets input about websites from store, `vars.js` needs to be populated too.
The only thing to take care of is how to refresh the `visited` count when new first

[2017-08-21 18:31] jonathanKingston commented on #65
I think these vars that princiya mentions could be stored and updated in
lightbeam.js

Also to be clear "websites" should be able to store this data.

On Mon, 21 Aug 2017, 19:28 Princiya Marina Sequeira <
notifications@github.com> wrote:

[2017-08-21 18:39] biancadanforth commented on #65
@jonathanKingston Why wouldn't we want to keep the data in a separate store from `websites`? The UI variables don't have any of the same keys as the `website` objects in `websites`.

Here is the structure of the `websites` database currently:

[code]

Also, can you explain a little more what you mean when you say...:

[2017-08-22 10:48] jonathanKingston opened #161 "Consider a filter or show difference in scripts, iframes, etc"
The risk of tracking pixels checking what the user types isn't an issue however scripts and iframes open up different vulnerabilities.

[2017-08-22 10:51] jonathanKingston opened #162 "Consider increasing proximity for subdomains"
If a first party loads lots of domains that are not recognised as content providers, it would create a very messy graph if it had:

a.cdn.com
b.cdn.com
etc

If subdomains could be grouped closer together by default so it was clearer and neater that would make the graph less confusing.

[2017-08-22 10:59] jonathanKingston commented on #162
The alternative could be using proximity based upon the origin that loaded it perhaps. So if GA loads a google CDN then we can just make that closer.

[2017-08-22 11:42] jonathanKingston opened #163 "Expose container isolation in lightbeam"
At some point we would like to show how containers are isolated in Lightbeam to demonstrate their advantage to solving tracking.

[2017-08-22 12:40] princiya opened #165 "Centre the graph w.r.to the viz area"
PR #164 increases the graph display area by giving it `position: absolute`. The graph is now centred w.r.to the `body` element. [Here](https://github.com/mozilla/lightbeam-we/pull/164#discussion-diff-134465758R89)

When the graph is resized, there is the issue where the graph is not centred w.r.to the viz area.
![screen shot 2017-08-22 at 14 32 33](https://user-images.githubusercontent.com/8022693

[2017-08-22 12:47] princiya opened #166 "Footer UI"
In this PR #164, the graph area has been increased.
There is a follow-up issue #165 to display the graph on the centre w.r.to the viz area and not the `body` tag.

Above PR is a temporary solution because at this time, we don't have the footers, footers are `unimplemented`. When we have footers, the above issue mayn't be relevant anymore?

Or we could have the footer show-up as a sliding menu from

[2017-08-22 15:19] groovecoder opened #167 "New Viz: Timeline and Trackers"
When a user wants to know **which trackers** can see **how much** of their browsing activity, arrange their visits along a horizontal timeline of circles, and arrange the 3rd-party trackers on a horizontal line above the timeline of visits.
[code]

[2017-08-22 16:01] groovecoder commented on #163
Luke idea: plug/promote/advertise Containers with a blurb like:

"Learn how Containers can isolate your browsing activity from trackers"
+
Faked/spoofed screenshot showing 4 separate smaller Lightbeam graphs instead of 1 big graph.

[2017-08-22 16:27] #146 closed

[2017-08-22 18:43] princiya commented on #167
This idea is so cool. Thanks @groovecoder

[2017-08-22 18:43] biancadanforth opened #168 "Swap layout from grid to flex for some containers"
PR #164 does a good job to increase the visualization area, but switching the layout in some areas to flexbox (like `<main>`) would do this as well as fix some uneven white space areas like underneath the footer. See issue #146 for an explanation and screenshots.

[2017-08-22 21:51] laxmy commented on #66
@jonathanKingston and @biancadanforth ....Thanks for the info and the starting point. I'm working on this. The alert window that shows info about tracking protection will be enabled from the back-end is my understanding.

[2017-08-23 08:43] princiya opened #171 "Cleanup existing tests"
At this point, we have a testing environment setup which isn't very useful, instead it might be a blocker for potential contributors because of its following nature?

![screen shot 2017-08-23 at 10 42 19](https://user-images.githubusercontent.com/8022693/29606897-d8cc0a2c-87ef-11e7-9a94-586fe5867726.png)

We could either improve this or cleanup for the time being?

[2017-08-23 08:46] princiya commented on #171
@jonathanKingston I am tagging this issue as `help wanted`. I would love to learn a bit more about setting up the whole test environment, stubs, mocks etc.

[2017-08-23 12:21] jonathanKingston commented on #159
Tested this in 55 by installing the existing extension first and then upgrading with xpi signing disabled and the old extension was removed and everything was working.

[2017-08-23 12:23] #159 closed

[2017-08-23 17:21] jonathanKingston commented on #147
This is now much worse based on the code pushed in #158 the flickering and rendering multiple nodes feel the same issue however feel free to split if it isn't. The ghosting/multiple of the same nodes is the p1 component here.

[2017-08-23 18:56] princiya commented on #123
PR #158

[2017-08-23 18:57] #123 closed

[2017-08-23 18:57] princiya commented on #124
@biancadanforth what do you think about this issue? is it addressed in PR #158? If so, please close this one :). Thanks.

[2017-08-23 18:58] princiya commented on #88
@jonathanKingston I think we can close this issue? You can AMA about graph forces now :) PR #158

[2017-08-23 22:57] biancadanforth commented on #124
Yep it's much better; thanks @princiya! Though I don't have issue-closing powers...

[2017-08-24 07:35] princiya commented on #124
Thanks @biancadanforth !

[2017-08-24 07:35] #124 closed

[2017-08-24 07:38] princiya commented on #129
@biancadanforth can we close this issue because of #139?

[2017-08-24 15:12] biancadanforth commented on #129
@princiya Yeah I think that's a good call. We have separate issues for implementing the other main features already. I can close this one myself!

[2017-08-24 15:12] #129 closed

[2017-08-24 16:12] #153 closed

[2017-08-25 10:56] princiya commented on #167
@groovecoder maybe we could do something like this? [beeswarm plot](https://bl.ocks.org/mbostock/6526445e2b44303eebf21da3b6627320)

![screen shot 2017-08-25 at 12 56 01](https://user-images.githubusercontent.com/8022693/29711383-cb39c222-8994-11e7-9b59-6f573f404f00.png)

[2017-08-25 16:14] groovecoder commented on #167
Ooo, that's a cool one. I could see that beeswarm plot representing the timeline of 1st-party page visits.

Would we visualize the 3rd-party trackers above it as another beeswarm plot with lines connecting them to the nodes in the lower plot?

Another cool way to visualize the 3rd-party trackers (or maybe the higher-level entities) that can see each node on the graph is to underlay a background co

[2017-08-25 16:35] princiya commented on #167
@groovecoder I can definitely see this horizontal timeline being able to convey some useful information. Thanks for creating this piece of issue, asap we are done stabilising the force layout, I would love to work on this piece :)

[2017-08-28 20:12] jonathanKingston commented on #110
Visit:
- https://www.google.com/search?q=dfdfdf&ie=utf-8&oe=utf-8&client=firefox-b-ab
- https://www.youtube.com/
- https://developers.google.com/youtube/youtube_player_demo

This first looks like this:
![image](https://user-images.githubusercontent.com/338988/29791517-0ec31692-8bf2-11e7-8e86-a7d75256d952.png)

The left triangles are s.ytimg.com,  i.ytimg.com the top triangle is google-developers.a

[2017-08-28 20:13] jonathanKingston commented on #110
I was also seeing the above steps remove all links which is super odd (brand new computer, this is the first thing I checked) resetting the database made it work, we should perhaps check that the database is in the right more after installing.

[2017-08-28 20:15] jonathanKingston commented on #110
JSON dump of the above flow:

[code]

[2017-08-28 20:17] jonathanKingston commented on #110
Youtube.com isn't marked as a first party that is an issue.

[2017-08-28 22:42] jonathanKingston opened #177 "Third->third line issues"
I'm seeing when loading:
- https://www.wikipedia.org/
- searching sdsd
- getting: https://en.wikipedia.org/wiki/Special:Search?search=sdsd&go=Go&searchToken=e4s8zqqpwutej8y7gvkerdca6
- clicking first result: https://en.wikipedia.org/wiki/South_Dakota_School_for_the_Deaf

This gets the following:
![image](https://user-images.githubusercontent.com/338988/29796638-25b9892a-8c07-11e7-94ed-1dbf52d57cc4

[2017-08-29 04:15] biancadanforth commented on #110
I see what you are seeing on my branch, for the following sequence:

1. https://www.google.com/search?q=dfdfdf&ie=utf-8&oe=utf-8&client=firefox-b-ab
2. https://www.youtube.com/
3. https://developers.google.com/youtube/youtube_player_demo

but more immediately, I see on the `master` branch that a bunch of what should be allowlisted (and therefore hidden) third parties to youtube are showing up on t

[2017-08-29 04:53] jonathanKingston commented on #110
I would consider making that a different issue in that some allow lists get onto the graph.

[2017-08-29 15:23] biancadanforth commented on #177
I believe this is a combination of first party as third party #110 and also our recent change from using `response.originUrl` instead of `response.documentUrl` in PR #155 . The latter can give us a third party (let's call it Site A) as the origin URL linking to another third party (Site B). If Site A is on the allowlist for its original first party site (and is therefore hidden), we can see these

[2017-08-29 15:29] biancadanforth opened #179 "Some allowlist third parties show up on the graph"
See [this comment](https://github.com/mozilla/lightbeam-we/issues/110#issuecomment-325550561) for an explanation.

I believe this is a related issue to #110 .

[2017-08-29 15:36] #140 closed

[2017-08-29 15:36] #127 closed

[2017-08-29 16:09] jonathanKingston commented on #177
My initial hunch as I mentioned on slack is that the code there didn't make anything worse due to documentUrl actually being wrong for certain cases but it perhaps just appeared less wrong.

Perhaps the assumption of non visible tabs are a third party should be questioned more.

[2017-08-29 16:21] biancadanforth commented on #177
I agree it was the right decision to change to `originUrl`, we now just need to make sure we handle third parties making third party requests in the `setThirdParty` logic.

[2017-08-29 16:29] biancadanforth commented on #179
Basically, `youtube` starts out as a first party, and later becomes an allowlisted third party (so that it's `firstParty` key is set to `false` and `isVisible` key is also set to `false`). This means when we refresh the page, `getAll`, which only returns nodes that are either `firstParty` or `isVisible` `true`, ignores `youtube`, so any nodes it was originally connected to in the visualization los

[2017-08-29 17:03] #65 closed

[2017-08-29 19:49] jonathanKingston commented on #177
@biancadanforth I'm still testing my patch however I think it solves a lot of the issues we have been having here.

[2017-08-31 04:51] biancadanforth opened #183 "Consider how to handle queued requests for recently closed tabs"
From `capture.setThirdParty`:

[code]

If the user closes a tab, and we have requests that tab previously made still in our queue, when capture tries to process these requests, we get the following error:

`Error: Invalid tab ID: X` where X is the closed tab's ID and X !== -1 (i.e. the tab is visible)
* This happens on `browser.tabs.get...`
`TypeError: tab is undefined`
* This happens immediately

[2017-08-31 06:15] jonathanKingston opened #184 "Evaluate third party forces"
In the original lightbeam third party nodes with more connections to them were clumped closer together to nodes that didn't have more than one connection.

I'm not sure on the correct force here but it certainly could be improved to neaten the graph.

![existinglightbeam](https://user-images.githubusercontent.com/338988/29909085-234bcc60-8dd9-11e7-89b7-f642230b3022.PNG)

[2017-08-31 06:21] jonathanKingston commented on #183
Should be fixed with latest patch.

[2017-08-31 06:21] #183 closed

[2017-08-31 06:21] jonathanKingston commented on #177
Should be fixed with latest patch.

[2017-08-31 06:21] #177 closed

[2017-08-31 06:21] jonathanKingston commented on #179
Should be fixed with latest patch.

[2017-08-31 06:21] #179 closed

[2017-08-31 06:22] jonathanKingston commented on #110
Should be fixed with latest patch.

[2017-08-31 06:22] #110 closed

[2017-08-31 21:32] biancadanforth opened #187 "Fix dynamic vars on refresh"
The inbound data to storage is not being properly munged in the `switch` statement for case `'firstParty'` and case `'isVisible'`. This leads to incorrect or no data for how many sites the user has visited in the UI.

See [this comment](https://github.com/mozilla/lightbeam-we/pull/180#issuecomment-325823113) for details.

[2017-08-31 22:29] biancadanforth opened #189 "Consider treating Service Workers as first parties"
It's not clear right now how the capture code treats Service Workers (these load in non-visible tabs, i.e. tabId = -1). It would be good to check, and we should consider treating them as first parties.

@jonathanKingston Aren't SWs usually (if not always) a same origin page script loaded from the first party? In that case any third party requests it may make would be captured relative to the page

[2017-08-31 23:30] #117 closed

[2017-08-31 23:53] biancadanforth opened #190 "Add button in First Run page to open Lightbeam tab"
PR #186 is a good basic set up for Lightbeam's first run page (`first-run.html`), but it would be helpful to add a button on this page to make it easier for users to open the Lightbeam page (`index.html`) for the first time.

[2017-08-31 23:54] #187 closed

[2017-08-31 23:59] biancadanforth opened #191 "Open First Run page based on Lightbeam version rather than tracking in localStorage"
PR #186 is a good initial set up for our first run page, but it would be more correct to listen for an `install` or `update` event and compare the previous version, if any, to the current version of Lightbeam.

We would likely use the [`management` extension API](https://developer.mozilla.org/en-US/Add-ons/WebExtensions/API/management) to implement this.

[2017-09-01 00:01] jonathanKingston opened #192 "Update Readme screenshot"

[2017-09-01 16:22] jonathanKingston commented on #66
This is fixed by the latest merge from @laxmy thanks again.

[2017-09-01 16:22] #66 closed

[2017-09-01 17:19] #143 closed

[2017-09-01 19:48] jonathanKingston commented on #145
Closing this as the internship has ended 😢

We should be launching in a week or so whenever makes sense, perhaps with more fixes to solve a few more issues.

[2017-09-01 19:48] #145 closed

[2017-09-01 22:21] jonathanKingston opened #195 "Change lightbeam name to prefix"
As discussed [here](https://github.com/mozilla/testpilot-containers/issues/763#issuecomment-326689459) Firefox as a prefix is going to be a default now for Mozilla addons. We should make the change here for when we release.

[2017-09-01 22:34] #195 closed

[2017-09-04 12:01] princiya commented on #145
No longer access to slack :( @jonathanKingston where do we talk? :)

[2017-09-04 14:02] jonathanKingston commented on #145
IRC, email perhaps? Drop me an email and we could discuss.

On Mon, 4 Sep 2017, 05:01 Princiya Marina Sequeira <notifications@github.com>
wrote:

[2017-09-04 18:53] #119 closed

[2017-09-04 20:08] princiya opened #198 "CSS for the reset data dialog box"
![Screenshot](https://user-images.githubusercontent.com/338988/29068071-1d5f646e-7c2d-11e7-9a72-65ebd296e066.png)

Implement CSS for the reset data dialog box as above.

[2017-09-04 20:12] princiya opened #199 "Meaningful variable names for the reset data dialog box message"
PR #197 added a warning message before resetting data.

As per the follow-up comment in that PR, we need to have meaningful variable names for the reset data message.

Do the concat in the template string (rather than having spaces in the strings):
${msgDeletion} ${msgConfirm}

Template for the message:

![Image](https://user-images.githubusercontent.com/338988/29068071-1d5f646e-7c2d-11e7-9a72-65e

[2017-09-05 13:52] groovecoder commented on #145
For anyone following here outside email, I suggest #privacy and #lightbeam on IRC?

[2017-09-06 08:55] princiya commented on #145
sure @groovecoder 👍

[2017-09-07 17:57] princiya opened #200 "Dexie errors"
@jonathanKingston I have the following errors from dexie.js. Any inputs or am I missing anything?

![screen shot 2017-09-07 at 19 57 13](https://user-images.githubusercontent.com/8022693/30177645-c673d652-9406-11e7-9133-28bb1bf37032.png)

![screen shot 2017-09-07 at 19 57 31](https://user-images.githubusercontent.com/8022693/30177662-d1cbff16-9406-11e7-9e71-7d450a57b74e.png)

[2017-09-16 01:17] cvan opened #202 "Create a visualization view in WebVR (and WebAR?) using A-Frame"
Hi, my name is Chris Van Wiemeersch (@cvan). I work on the [WebVR team](https://vr.mozilla.org/) here at Mozilla. I was one of the co-creators of [A-Frame](https://aframe.io/), the framework for easily creating WebVR experiences.

@potch pointed me to this WebExtension port of Lightbeam. I'm really excited that this exists. Really nice work!

@caseyyee and I would love to help out in creating a We

[2017-09-16 04:58] princiya commented on #202
Hi @cvan, thanks for reaching out :) Here is my Mozfest proposal - https://github.com/MozillaFoundation/mozfest-program-2017/issues/319 and here is my - [initial POC](http://faithful-hope.glitch.me/).

I tried to play around a bit with A-Frame, to come up with this POC. Let me know what you think about this and I would certainly need your help going forward. Thank you.

[2017-09-19 18:06] caseyyee commented on #202
Amazing :)  Love that you already have a start on it.  Happy to jump in and help get this going.   This is the sort of project that will really help elevate WebVR.   Super easy to basically graft VR onto any existing web apps.

[2017-09-20 02:33] jonathanKingston commented on #202
Super excited you both found this :)

[2017-09-28 10:56] jonathanKingston commented on #200
@princiya said this was not an issue now.

[2017-09-28 10:56] #200 closed

[2017-09-28 10:57] princiya commented on #200
works via the `web-ext` command. I always try via `about:debugging` and it seemed erroneous.

[2017-09-28 12:21] princiya opened #204 "Increase favicons relative to the circle radius"
![screen shot 2017-09-28 at 15 42 24](https://user-images.githubusercontent.com/8022693/30966107-585443bc-a475-11e7-9b0a-4650f47e3fd6.png)

In this PR #203, the node circle radius is relative to the no. of third party websites corresponding to a first party. We now need to increase the favicon size too, relative to this circle radius.

[2017-09-28 15:24] #192 closed

[2017-09-28 21:38] alvarogzp opened #208 "User data is not migrated from legacy version"
I have just had Lightbeam updated to the webext version, and the first run web page appeared. When I clicked on the lightbeam icon, all the visited sites I previously had there just had disappeared!

If a user data migration is possible from a legacy addon implementation to the webext one (as others, like [uBlock origin](https://github.com/gorhill/uBlock/wiki/Firefox-WebExtensions), have done), I

[2017-09-28 21:52] jonathanKingston commented on #208
Unfortunately due to the huge changes we made in this extension we were not able to change the data over.

We took this approach for several reasons:
- In making this extension we found several bugs in how the previous addon was capturing data which invalidated the data itself
- The structure used here is vastly different, designed firstly for performance
- Given our tight deadlines we took the vi

[2017-09-28 21:52] #208 closed

[2017-09-28 21:59] alvarogzp commented on #208
Ok, thanks for the explanation! And for the extension!

[2017-09-28 22:01] jonathanKingston commented on #208
Hopefully you will find it performs much better 👍

Also it was @biancadanforth and @princiya that did all the hard work, I'm just the support monkey.

[2017-09-28 22:23] cvan commented on #202
@princiya: awesome work! is there a GitHub repo we can work out of?

[2017-09-28 23:35] jonathanKingston opened #209 "Consider support for Firefox for Android"
Now we have a extension, we should check the work involved in making this work in Android.
I don't think there is anything that we do that is specifically not supported.

[2017-09-29 23:44] alvarogzp commented on #208
Yes, it seems to run more smoothly, although I still have very few sites. Good job!

[2017-09-30 01:40] jonathanKingston opened #212 "When dragging icons that won't load Lightbeam glitches"
Dragging the icons results in a network panel like this:
<img width="962" alt="favicon-perf-issue" src="https://user-images.githubusercontent.com/338988/31041059-49452e96-a587-11e7-9f92-c10b0d7f700b.PNG">

[2017-09-30 11:54] zero77 opened #213 "[Bug] Missing Page Content"
I am missing the bottom and right side page content also, clicking on graph view doesn’t do anything.
Thanks

What I am getting:
![capture](https://user-images.githubusercontent.com/16563034/31045561-2913ce1e-a5de-11e7-8950-b9eb01b56166.JPG)

What I should be getting:
![capture](https://addons.cdn.mozilla.net/user-media/previews/full/116/116420.png?modified=1416948686)

[2017-09-30 12:57] jonathanKingston commented on #147
I'm going to close this, we do however have a follow up of #212

[2017-09-30 12:57] #147 closed

[2017-09-30 16:05] jonathanKingston commented on #213
Lightbeam has been migrated to a new version read about that here:

https://github.com/mozilla/lightbeam-we/wiki/Migration-from-1.x-Lightbeam

I think this makes most sense to break into smaller bugs.

Like #79 or #130 cover two of the core areas you mention.

I think if there are specific priorities, upvote and raise those specifically.

Thanks!

[2017-09-30 16:05] #213 closed

[2017-10-01 13:09] cadeyrn opened #215 "Lightbeam should be localizable"
It should be possible to localize Lightbeam in different languages. Even if you only offer English translations, the community could provide other translations.

[2017-10-02 12:44] jonathanKingston opened #216 "Tracking protection on restart is reset"
We have had a few users report that on restart of the browser tracking protection has been reset.
This should be investigated immediately.

[2017-10-02 15:11] princiya commented on #202
@cvan @caseyyee here is the repo [https://github.com/princiya/lightbeam-aframe](https://github.com/princiya/lightbeam-aframe). This is a work in progress and inputs, feedback, suggestions from all possible angles is highly appreciable.

- As part of POC, I created `data.json` to serve static nodes and links which represent the trackers.
- The next step is to create a dynamic view of the first part

[2017-10-02 15:15] princiya commented on #215
@cadeyrn Thank you for the feedback. Localisation is there in the roadmap and we plan to implement it soon. Primarily, Lightbeam is to educate the public about privacy and having localised content is strongly recommended.

Let me know if you are interested in this and we can collaborate on getting this implemented.

[2017-10-02 15:19] princiya commented on #216
@jonathanKingston are there any specific pointers to look at this tracking protection bug? I don't have much insights about this tracking protection.

[2017-10-02 15:30] cadeyrn commented on #215
Great to hear!

Is there already a "Mozilla way" to localize HTML files in the WebExtension world?

In my WebExtensions I include this file:
https://github.com/cadeyrn/newtaboverride/blob/master/src/js/lib/i18n.js

And then I can use "MSG_langvar__" to get the translation of "langvar", example HTML file:
https://github.com/cadeyrn/newtaboverride/blob/master/src/html/options.html

Do you know a bet

[2017-10-02 15:41] jonathanKingston commented on #216
TBH I think it's unsupported in 56 which is where the issue is coming from perhaps. Either that or it's the initial state of the button isn't always initialised correctly.

[2017-10-02 15:56] jonathanKingston commented on #202
@princiya it might make sense to create a branch here and use the dynamic data we have here?

[2017-10-02 17:54] princiya commented on #202
@jonathanKingston I was not sure to add it here, do you think it makes more sense to do so?

[2017-10-02 18:02] jonathanKingston commented on #202
@princiya to make a branch of the lightbeam code with web vr enabled using the storage code rather than a dump of the data.

[2017-10-03 22:17] heubergen opened #217 "Low framerate with big map"
Old issue: https://github.com/mozilla/lightbeam/issues/673

Here my map:
<img width="1021" alt="screen shot 2017-10-03 at 5 16 28 pm" src="https://user-images.githubusercontent.com/5529410/31151762-a092290e-a85e-11e7-8a86-4c7ca9960cf4.png">

The frame rate is still very low and doesn't allow me to use the map smoothly and efficient.

My hardware:
Macbook 12 Intel m3 CPU

[2017-10-03 22:57] jonathanKingston commented on #217
Hey,

Ao I think this is actually a duplicate of #212. Given that it only takes one erroneous response to make this happen and really slow down the graph when dragging I think we should focus on that and see if this fixes the issue.

Thanks!

[2017-10-04 10:31] #216 closed

[2017-10-04 12:47] #212 closed

[2017-10-04 12:48] jonathanKingston commented on #217
This was fixed for me with a similar size graph, granted I have a high end machine but if you could reopen after testing 2.0.3 that would be great.
Thanks

[2017-10-04 12:48] #217 closed

[2017-10-04 19:52] heubergen commented on #217
I can see some improvements (e.g. the animations start now) but still the frame rate is very low when I start to navigate through the galaxy.

[2017-10-05 03:45] andrewhayward commented on #198
Assuming nobody else has picked this up, I'll claim it. @princiya, do you have colour codes, font sizes, or other specifications? Or shall I just make a best guess? And is there an original graphic anywhere for the dialog icon?

[2017-10-05 07:46] princiya commented on #198
You could refer style.css for the existing specifications. We only have
this screenshot for reference. Thanks for considering this issue 😊

On 5 Oct 2017 09:15, "Andrew Hayward" <notifications@github.com> wrote:

Assuming nobody else has picked this up, I'll claim it. @princiya
<https://github.com/princiya>, do you have colour codes, font sizes, or
other specifications? Or shall I just make a best

[2017-10-05 14:42] jonathanKingston commented on #198
The previous code is in the old repo: https://github.com/mozilla/lightbeam

If you could look at that and move it into the same style as we have here that would be great.

[2017-10-08 19:25] maqboolkhan commented on #199
hi is there any one working on it i want to work on it? if no one working on it im up for this

[2017-10-08 19:30] maqboolkhan commented on #190
hi i want to work on it kindly guide me what is the requirement as i could not understand properly
Thanks

[2017-10-08 19:33] maqboolkhan commented on #132
Hi do we need a GIF on how to use lightbeam ? i want to work on it kindly guide me 🙂

[2017-10-08 19:39] jonathanKingston commented on #132
The prior gif was just an animated version of the current README image. Feel free to add one and change the README.md via github to have that path.

Let me know if you need more info, a program like LICEcap can do gif making.

[2017-10-08 19:40] jonathanKingston commented on #190
There is already a PR outstanding for this work, I think we are good here. I just haven't checked it over yet.

[2017-10-08 19:45] maqboolkhan commented on #132
Thanks m on it but what would be our GIF motivation? are we going to show lightbeam usage or something else?

[2017-10-08 19:46] maqboolkhan commented on #190
ok thanks

[2017-10-08 20:15] jonathanKingston commented on #132
Just to show what the graph does and how it looks before using it. We don't need anything fancy here, just the graph moving a little to make it look a little interesting. No need to view other sites or interact with the graph.

[2017-10-09 04:25] maqboolkhan commented on #132
cool awesome ill do it

[2017-10-09 10:48] #198 closed

[2017-10-09 18:21] cpeterso opened #224 "Lightbeam's Tracking Protection switch does not work"
Lightbeam's Tracking Protection switch does not reflect the current state of the Tracking Protection preference and toggling the switch does not update the preference. I am using Firefox Nightly 58.0a1 and Lightbeam 2.0.3.

I see the following JS error message in the devtools console:
[code]

[2017-10-09 18:23] jonathanKingston commented on #224
@pauljt fixed this today, making a release now.

[2017-10-09 18:23] #224 closed

[2017-10-09 18:26] #190 closed

[2017-10-09 21:51] cpeterso commented on #224
Thanks! I confirmed that the switch now works correctly in Lightbeam 2.0.4.

[2017-10-09 22:51] jonathanKingston commented on #224
Cool thanks for confirming!

[2017-10-10 02:48] inondle opened #226 "npm scripts don't build correctly on windows"
The current scripts for the `npm run build` command use `rm` and `cp` which don't exist in `cmd.exe`. I've been able to make the build work by utilizing [shx](https://github.com/shelljs/shx). I could make a pull request if you guys don't mind taking a dependency on shx.

[2017-10-10 03:07] jonathanKingston commented on #226
I don't really know what that is, can't you use a MINGW based setup like git bash instead?

Is the build script the only thing that is broken?

[2017-10-10 03:16] inondle commented on #226
From what I understand shx just allows you to write cross-platform shell scripts. For example, here's one of the current build scripts:

`    "createlib": "cd src && rm -rf ext-libs && mkdir ext-libs && npm run movelibcontents",`

This script works fine in `cmd` except for the `rm -rf`. `cmd` doesn't understand the `rm` command so this would fail on a windows machine. Here's the modified version u

[2017-10-10 03:34] jonathanKingston commented on #226
I use Windows as my default, I wouldn't ever touch cmd where possible. I'm worried this small change will lead to us maintaining a build that very few people will use and will be untested.

I would rather provide windows users a docker setup or guide on using mingw than maintaining another code branch. I'm happy to leave this open for other peoples views though, to see if there is enough interest.

[2017-10-10 21:49] jonathanKingston opened #227 "Lightbeam doesn't load"
A user is reporting the following error:

Content Security Policy: The page's settings blocked the loading of a resource at self ("script-src moz-extension://..."). Source: call to eval() or related function blocked by CSP.  dexie.js:630
Unhandled rejection: InvalidStateError: A mutation operation was attempted on a database that did not allow mutations.
  dexie.js:1387:17

[2017-10-12 05:07] maqboolkhan commented on #132
Hi @jonathanKingston i have raised a PR https://github.com/mozilla/lightbeam-we/pull/229 kindly check

[2017-10-12 06:20] jonathanKingston commented on #132
Great thanks @maqboolkhan!

[2017-10-12 06:20] #132 closed

[2017-10-12 07:05] princiya commented on #199
@maqboolkhan you could take this up.

[2017-10-12 10:22] maqboolkhan commented on #199
ok i am up for this will do it

[2017-10-12 18:08] maqboolkhan commented on #199
hi @princiya @jasonthomas i am sorry but i am unable to find PR #197 code (changes) in master branch

[2017-10-12 23:23] cvan commented on #202
@princiya awesome! I can help with making a PR of that branch of Lightbeam use the live code from the WebExtensions APIs. Would you like me to cherry-pick your commits, or do you want to create the branch?

[2017-10-13 00:13] caseyyee commented on #202
If I can get a good dataset dump would be helpful to start prototyping some visuals if you have it :)

[2017-10-13 00:26] jonathanKingston commented on #202
@caseyyee I would rather not dump mine, however it's super easy to get. Install Lightbeam from AMO then click the save button after browsing a few news sites. :)

I know @princiya is travelling at the moment but I can help with any questions you might have etc.

[2017-10-13 02:28] cvan commented on #202
@caseyyee: yeah just use Dev Edition or Nightly. and clone this repo (and the other one), and enable loading of the extension from `about:debugging`.

[2017-10-13 03:23] princiya commented on #199
Sorry @maqboolkhan This has been already fixed in PR #221 [here](https://github.com/mozilla/lightbeam-we/blob/master/src/index.html#L141)

[2017-10-13 03:24] #199 closed

[2017-10-13 10:24] ksadorf commented on #131
Hi,

First time I saw this toggle button, I was not able to guess its function.
My first thought was that it would apply a filter on the graph but it did not change anything.
@biancadanforth comment made me realize that the button actually changes the Tracking Protection setting.

I think some kind of tip should explain what is exactly happening.
As side note, I would prefer to have lightbeam filt

[2017-10-13 14:15] maqboolkhan commented on #128
can i work on it? @jonathanKingston kindly guide me about it

[2017-10-13 14:17] maqboolkhan commented on #165
i wanna work on it?

[2017-10-13 15:59] princiya commented on #165
@maqboolkhan sure. this could be a little tricky, I might be wrong too :) We employed a quick hack from re-doing the layout to use Flexbox. Let me know if you face any issues or if you want to discuss how you want to go about this. Thanks.

[2017-10-13 16:13] jonathanKingston commented on #128
Hi @maqboolkhan so the code of the previous add-on is available: https://github.com/mozilla/lightbeam

We essentially want to reimplement that code here and the interactive nature of opening and hiding the panel.

I'm not sure where that code is at the moment within the other repo however it should be easy enough to search for "About Lightbeam" and work through the code there.

Let me know if you

[2017-10-14 13:48] maqboolkhan commented on #128
Thanks @jonathanKingston this should be easy for me and because of your comment i found "About Lightbeam" but one thing is i installed Lightbeam from Addon store but i am unable to find this About Lightbeam section ??

[2017-10-14 14:01] princiya commented on #128
@maqboolkhan The old Lightbeam version has been replaced with the new one (the one pointing to this repo) in the Addon store. So the 'About Lightbeam' section won't be seen there because we have not implemented it.

As per @jonathanKingston 's suggestions, you could look up for the code, styles and text from the old repo - [https://github.com/mozilla/lightbeam](https://github.com/mozilla/lightbeam

[2017-10-14 14:03] maqboolkhan commented on #128
thanks @princiya im on it will update u guys soon
BR

[2017-10-17 00:49] epq commented on #64
Hi, I'd like to work on this issue! For clarification, this PR is for fixing braces throughout the entire project, not just the line from #62 (which doesn't appear to be an issue anymore)?

Is [arrow-body-style: always](https://eslint.org/docs/rules/arrow-body-style) the ESLint rule you are looking for?

[2017-10-17 02:50] jonathanKingston commented on #64
@epq looks like the right rule yeah and it would need to be checked for all non library code that we import. Thanks!

[2017-10-17 02:51] jonathanKingston commented on #64
Please let me know if you have other questions etc. Remember to add "Fixes #64" in your commit message like other commits in this repo :).
Thanks

[2017-10-17 18:24] maqboolkhan commented on #165
@princiya is there any chatroom like Gitter where we can discuss ?
on browser resizing i am unable to experience any kind of adjustment :/

[2017-10-18 06:06] princiya commented on #165
@maqboolkhan we have a discourse thread [https://discourse.mozilla.org/tags/lightbeam](https://discourse.mozilla.org/tags/lightbeam)

[2017-10-18 09:16] kottkrig opened #232 "Very low framerate"
I'm seeing very low framerates on my machine when looking at the visualization. It makes it very difficult to navigate inside of the viz.

According to the dev tools I get an average framerate of 6,65 FPS and minimum framerate of  1,66 FPS.

<img width="1772" alt="skarmavbild 2017-10-18 kl 11 12 13" src="https://user-images.githubusercontent.com/52966/31710478-75b68804-b3f5-11e7-8c10-356cd29ec111.

[2017-10-18 17:22] maqboolkhan commented on #165
hi @princiya i tried hard to understand this problem but kindly describe more so i can work on it
Thanks

[2017-10-19 07:28] princiya commented on #232
Thanks @kottkrig for reporting the issue.

@jonathanKingston yes there is scope to improve, looking into it.

[2017-10-19 07:36] princiya commented on #165
@maqboolkhan if you refer to the above screenshot, the graph should be centered w.r.to the black area only, but due to some hacks adopted, it is centered w.r.to the entire display area. Does this address your concern? Let me know for further queries, happy to answer.

[2017-10-19 14:48] jonathanKingston commented on #232
I managed to get the graph vastly faster by removing the manual ticking without causing obvious bugs.

My hunch is we should be doing something smarter there with ticking and rate limiting at times of stress. I also couldn't work out what the alpha stuff was doing and the documentation isn't super clear.

[2017-10-20 15:15] maqboolkhan commented on #165
hi @princiya so i found a trick is instead of using `body` element's width and height https://github.com/mozilla/lightbeam-we/blob/master/src/js/viz.js#L119

we should use https://github.com/mozilla/lightbeam-we/blob/master/src/index.html#L82 `.vis` element's dimension but then we will have a problem that it wont return height correctly but we can easily tackle it with height of `.vis` + top of `.

[2017-10-22 08:34] maqboolkhan commented on #165
hi @princiya how to check my changes ??
as per mentioned on `README `after going to `about:debugging` i need to install my addon temporary but it does not shows up any data (chart) so kindly guide me how i can check my changes ??

[2017-10-22 11:08] princiya commented on #165
After the web extension installation you need to visit few websites (open
new tabs on the browser) which will constitute nodes for the visualisation
and any third party connections they possess turn out to be links. Come
back and check lightbeam, your graph should be growing.

On 22 Oct 2017 14:04, "maq" <notifications@github.com> wrote:

[2017-11-18 18:17] #64 closed

[2017-11-20 03:06] clement-analogue commented on #163
So far, Lightbeam does not show containers at all. I think I saw a commit that remove them form visualization. So my Lightbeam so quite empty, only couple of websites, because all site I usually visits are assigned to their own containers, so sites visits from these containers are also in containers themselves, and I changed the behavior of the "+" button to add a new tab to display immediately th

[2017-11-20 05:37] princiya commented on #163
@jonathanKingston @groovecoder any pointers to get started with this? this way I can get started with containers too :)

[2017-11-20 10:40] jonathanKingston commented on #163
It's been a while since I have given this much thought however we will need to:

- Store requests by cookieStoreId
  - Tabs have this key however requests don't
- By default filter away cookieStoreId that isn't default
- Migrate existing data to new format
- Provide some temporary query string that can be used to filter by cookieStoreId until a UI is ready
  EG: `index.html?cookieStoreId=firefox-c

[2017-11-21 01:17] biancadanforth commented on #131
Thanks @ksadorf for this insight!

@jkt I'd love to get your thoughts implementation-wise on what it would take to add this enhancement to the visualization? Would it involve using a blocklist (in similar fashion to our allowlist)? What else?

[2017-11-21 07:52] Ymirithe opened #235 "plugin not WAI in firefox v 56/57"
black screen, no graph load, button don't work, nothing work. not sure if old incompatibility or different cause for 56  and 57.

tryed with no other plugin of course, and tryed to specify history alway keep and cookie alway keep. did everything a normal user would do to make it work so asuming something is wrong with the current version of lightbeam as of november 2017( should be october 2.0.4).

[2017-12-02 08:44] Monzfan opened #236 "lightbeam working not correctly as before. What can I do ?"
Hello together:
I was happy to use lightbeam again on firefox 57. But I realize that it works only on "light version" or so:
Normally it works like your description on wikipedia link and attached picture.
https://de.wikipedia.org/wiki/Lightbeam

At the moment ligthbeam works not in full version ors so.
No lists, no chance to switch of third party. Only picture which shows visited sites and third p

[2017-12-02 08:47] Monzfan commented on #236
At the moment working:
![lightbeam](https://user-images.githubusercontent.com/33925309/33513570-71235074-d745-11e7-8dc8-8a1b9e854338.JPG)

Should work like:
![lightbeameee](https://user-images.githubusercontent.com/33925309/33513576-93b33578-d745-11e7-9e49-21bb5ff0156c.JPG)

[2017-12-03 04:52] princiya commented on #236
Hi @Monzfan,

Thank you for using Lightbeam.

At the moment, we only have the 'light version'. You can find a report of the missing features [here](https://github.com/mozilla/lightbeam-we/wiki/Migration-from-1.x-Lightbeam#missing-features).

We plan to add them soon to Lightbeam as and when we get resources and time. Meanwhile, if you are a developer and interested to contribute, we are happy to h

[2017-12-03 04:52] #236 closed

[2017-12-03 04:55] princiya commented on #235
Hi @Ymirithe,

Thank you for using Lightbeam.

You need to visit/open new websites and come back and visit/open Lightbeam to see the graph visualisation.

Let me know if you still have issues.

[2017-12-09 22:09] cbyrd01 opened #237 "UI elements missing from WebExtension"
The Visualization section in the upper left corner currently shows "Graph" button, does not show "Clock" or "List". "Toggle Controls" section missing at bottom, and right hand panels are also missing.

This appears to be a regression from the legacy SDK add-on.

This was tested using Lightbeam 2.0.4 and lightbeam-we/master on Firefox build 57.0.2 (20171206182557) on Windows 10 64-bit.

Thank you f

[2017-12-10 02:52] princiya commented on #237
Hi @cbyrd01,

Thank you for using Lightbeam.

This issue is a duplicate of this #236. Please check this [comment](https://github.com/mozilla/lightbeam-we/issues/236#issuecomment-348740370) for more explanation.

[2017-12-10 02:52] #237 closed

[2017-12-10 04:08] xlxsobvrzo commented on #237
Mil gracias, hermano, blessed be,  Linux change my sad life... thanks for
your beutiful brain

2017-12-09 14:09 GMT-08:00 Christopher Byrd <notifications@github.com>:

[2017-12-10 17:46] Flaburgan commented on #141
This webextension is now available on AMO. Is this issue still valid?

[2017-12-10 17:47] Flaburgan opened #238 "Where is the "list" visualization option?"
I can't find it, was that not ported to the web extension?

[2017-12-14 06:44] princiya commented on #238
Hi @Flaburgan,

This is a [missing feature](https://github.com/mozilla/lightbeam-we/wiki/Migration-from-1.x-Lightbeam#missing-features) and we hope to have this soon!

[2017-12-14 06:44] #238 closed

[2017-12-14 08:44] maledettobue commented on #235
I can confirm: not working with Firefox 57

[2018-01-18 10:38] Korrigan29 commented on #235
I also confirm: not working with FF 57.0.4

[2018-02-17 14:11] jonathanKingston commented on #232
I think we might have just made this worse with the latest update. We should look into querying the history in chunks before rendering to reduce the time to showing some nodes on the graph. The latest update actually crashed my browser @princiya. I don't have time at the moment to debug this though so help very much wanted here.

[2018-02-17 14:12] #204 closed

[2018-02-17 18:07] princiya commented on #235
Hey there, no idea what is the issue. But we have tested and it works fine even on FF 58.

[2018-02-19 13:36] rathann opened #240 "Provide release notes"
It'd be useful to have a summary of user-visible changes between each release documented on [Github releases tab](https://github.com/mozilla/lightbeam-we/releases) and [AMO page](https://addons.mozilla.org/en-GB/firefox/addon/lightbeam/versions/). Also, 2.1.0 is there on AMO, but not on Github releases tab.

[2018-02-21 12:35] zero77 opened #241 "[Feature Request] Zoom in and out buttons"
Can you please add two buttons to zoom in and out when in the graph view.
Thanks

[2018-02-24 12:51] princiya commented on #241
Hi @zero77, thank you for requesting a feature.

We do support drag, zoom and pan in the existing version. [Reference](https://github.com/mozilla/lightbeam-we/pull/116)

[2018-02-24 13:53] zero77 commented on #241
Hi @princiya
I was meaning more in and out, for if you have a lot in the graph and want a closer look or a look from further back.

[2018-02-25 13:44] kgbm3 commented on #235
There's some kind of a problem (apparently!?), with various users [reporting](https://addons.mozilla.org/en-US/firefox/addon/lightbeam/reviews/) - I don't even know what they're reporting, but they're not lazy to log in to their accounts and give the Add-on a 1-star rating on https://addons.mozilla.org/ which is pretty retarded; no options there to eliminate their rants from the results, or displa

[2018-04-15 18:37] telesphore opened #242 "There is no obvious way to stop lightbeam from rendering"
First, thank you for making this great tool. I did, however, run into a snafu. I had 6 months of data I was trying to look at. (~2500 sites visited & ~4500 sites connected with who knows how many graph edges.) This locked up FF while trying to render the graph. OK, my bad, I have too much data so I can just reset the data. Eventho the reset dialog eventually opened and accepted a click it did not

[2018-04-20 13:10] zero77 opened #243 "[Bug] Lightbeam causes browser to freeze"
I have a lot of entries in lightbeam and whenever I open the add on the browser starts to freeze and slow down to the point where it unusable.

[2018-05-04 15:55] jawz101 opened #244 "I can save data but I'm unable to import data"
[lightbeamData.json.txt](https://github.com/mozilla/lightbeam-we/files/1975060/lightbeamData.json.txt)

I trained Privacy Badger with about 1,300 of the top websites on the interwebs and with Lightbeam running in the background.  I exported the data (attached) and want to import it onto another machine as I didn't get a screenshot of the map.

Remove the .txt if you want to try an import it someho

[2018-05-07 18:27] nukeador opened #245 "Support localization"
Hi,

I've found out this extension is not l10n friendly and can't be localized. It would be great to be l10n ready so we can localize in many other languages to extend its reach ;-)

https://developer.mozilla.org/en-US/Add-ons/WebExtensions/Internationalization

Context: I'm running a research on addons and localization to inform a campaign at Mozilla Open Innovation team and Lightbeam was one of

[2018-05-07 18:38] cadeyrn commented on #245
duplicate of #215

[2018-05-07 18:57] nukeador commented on #215
Quoting myself from a dupe issue:

[2018-05-08 05:07] #245 closed

[2018-05-08 19:42] princiya commented on #244
@jawz101 Import data is definitely a nice to have feature. Thank you for creating the issue, I wish we had the bandwidth to work on this now.

Do you mean to report a bug similar to this issue #243?

[2018-05-08 19:47] princiya commented on #240
@rathann Certainly, we need to have release notes! 👍

[2018-05-08 23:05] jawz101 commented on #244
Sure.  I mean if you can get that file into Lightbeam you'll see if you can get Firefox to freeze.  I had taken about 1,300 of the top websites and browsed with Lightbeam and Privacy Badger not only to train train the Privacy Badger heuristics but also so I could visualize it in Lightbeam.  The resulting graphic of that file was the most dense image of LightBeam I've seen compared to screenshots i

[2018-05-12 09:09] princiya commented on #244
@jawz101 So it appears that we need to improve performance for large data sets. I am labelling this issue as an `enhancement`, to be able to have the `Import Data` feature, while keeping issue #243 to deal with the performance bug.

[2018-05-12 09:09] princiya commented on #243
There is a similar bug reported https://github.com/mozilla/lightbeam-we/issues/244#issuecomment-387569776

[2018-05-12 09:26] princiya commented on #235
Hey there, do you all still have this issue? I have not been able to debug this, could someone please provide more details (OS, browser version etc.), screencasts on the original problem? Thank you.

[2018-05-12 12:16] Korrigan29 commented on #235
Hi. Problem still present. FF 60.0. Windows 8.1. Lightbeam 2.1.0.
In private browsing, LB opens a window, but with no information inside. In "normal" browsing, just nothing happens when clicking on the LB icon.

[2018-05-12 14:08] zero77 commented on #243
@princiya
Yes, it’s a bit similar but, I am not importing or exporting anything or changing Lightbeam in any way.

I have just been using Firefox normally and now I cannot open Lightbeam anymore without Firefox completely crashing.

[2018-05-12 14:10] zero77 commented on #241
@princiya
Yes, I noticed that but, not all mouse pads support pinch and drag, that’s why I was asking for a butten.

[2018-05-12 17:11] princiya commented on #235
@Korrigan29 thank you for the prompt reply. I assume you to have done this, but asking explicitly, after installing Lightbeam, have you visited some websites? Lightbeam needs active browsing history once installed to be able to show the graph.

[2018-05-13 15:06] Korrigan29 commented on #235
Yes, of course ;)

[2018-05-13 15:07] princiya commented on #235
Great, thank you for your inputs. Will reach out soon if I need more info 👍

[2018-05-13 15:17] Korrigan29 commented on #235
Having said that, I just tried to uninstall LB, exit FF, reinstalled FB and restarted FF.

Now the FB icon doesn't even appear any more on the top right corner of FF. There's just an empty space where the icon should be, goes grey when hovering the mouse and indicating "Firefox Lightbeam" in the tooltip. Nothing happens when clicking this grey square. Same in private mode or not.

That was not the

[2018-06-03 15:58] ExE-Boss opened #246 "Error at storeChild.js:30:12"
The following error message is printed to the console whenever I interact with Mozilla Lightbeam:
<pre>
<table>
<td valign="top">17:47:36.447</td><td valign="top">Error: UnknownError The operation failed for<br/>reasons unrelated to the database itself and<br/>not coveredby any other error code.</td><td valign="top"><a href="https://github.com/mozilla/lightbeam-we/blob/master/src/js/storeChild.js#

[2018-07-19 10:08] 4km4r71n opened #247 "Worfkin"

[2018-07-19 10:12] 4km4r71n commented on #247
Hi folks, has anyone managed to convert the Lightbeam JSON data into a CSV or similar file? We're trying to combine different JSON files into an organized structure in order to analyze and potentially re-visualize the aggregate data. Thanks

[2018-07-25 03:44] onlyjob opened #248 "Irregular tagging of releases"
Not all releases in https://addons.mozilla.org/en-US/firefox/addon/lightbeam/versions/ are tagged in this repository (e.g. tag `2.1.0` is missing).

Perhaps this is something to improve in release management...

[2018-07-25 07:36] princiya commented on #248
Yes sure, I have some timewise bandwidth coming from my end from September, and I hope to get back to working on Lightbeam.

[2018-07-25 07:38] princiya commented on #247
@4km4r71n did you manage to get this done? We didn't do the conversion, but I believe there are libraries to convert JSON to CSV.

this sounds interesting. can you share more details on the new visualisations you plan to achieve?

[2018-07-29 17:05] Perflyst opened #249 "No data with Firefox Container"
I tried with Multi Account Container and Temporary Containers in a new profile, no data will be collected.

Would be great if Lightbeam support containers.

[2018-07-30 09:31] haroonalrasheed commented on #247
We would like to collect data from different partners globally (as part of a research project), then reconstruct it all into a single network graph.

[2018-07-30 09:32] haroonalrasheed commented on #247
Also, apologies for the major typo in the issue name "Worfkin". No idea what happened there

[2018-07-31 08:32] davidcraig commented on #243
Is it possible to perform a reset of the lightbeam data without opening firefox? Ie through the file system, mine racked up to 1696 sites and the reset button opened the modal, tried to click ok but it's still trying to render the graph, it looks like a scene from the matrix :)

[2018-09-05 14:11] princiya commented on #249
@Perflyst we are looking for contributors to take up this task :) this for sure will be a nice-to-have feature.

[2018-09-05 14:15] princiya commented on #247
@haroonalrasheed have you been working on this recently? I am happy to chat more on this idea and potentially jointly collaborate. Sorry for the delay from my side.

[2018-09-13 09:38] 4km4r71n commented on #247
No worries about the delay. Indeed, we're still working on it. We're thrilled to hear you're interested in collaborating on an enhancement. Happy to discuss requirements further...

[2018-09-13 20:38] princiya commented on #247
Let me know what is a good way to reach out to you. Please email me at princiya.marina@gmail.com

[2018-10-04 08:15] jean commented on #235
Firefox 62.0 (64-bit), same status as :point_up:

- just a space where the icon should be; "Firefox Lightbeam" tooltip.
- the extension page shows the UI frame, but no data or graph shows up after browsing.

[2018-10-04 08:50] princiya commented on #235
@jean do you mind following up via email please? I would love to have a chat and want to improve this experience. please write me an to princiya.marina@gmail.com
Thanks in advance.

[2018-10-04 11:56] marathone commented on #235
Lightbeam plugin works fine here: 62.0.3 (64-bit) Linux Ubuntu (distro repo
version)

On Thu, Oct 4, 2018 at 4:50 AM Princiya Marina Sequeira <
notifications@github.com> wrote:

--
"It is through science that we prove, but through intuition that we
discover."

- Henri Poincare

[2018-10-04 17:29] Ymirithe commented on #235
sup. been a million years. since then. reinstalled window new computer and all. new everything. installed light-beam in Firefox. again. with no plugin to interfere. browsed for about an hour. i think i visited about 200 different website. tried to pump Firefox in administrator mod and compatibility mode for every OS. tried to play around with the XPI file with different archive software. tried to

[2018-10-04 21:09] biancadanforth commented on #235
Please keep comments respectful.

@Ymirithe If you're running in Firefox 56, this extension is not going to work. It uses the new [WebExtensions API](https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/API) that was released in Firefox 57.

[2018-10-04 21:16] Ymirithe commented on #235
i see. do you know witch version of the plugin would be compatible with 56 per chance ? that may be a better solution actually. i recall https://addons.mozilla.org keep all past versions of any plugins.

[2018-10-06 18:29] biancadanforth commented on #235
It looks like Version [1.3.2](https://addons.mozilla.org/en-US/firefox/addon/lightbeam/versions/?page=1#version-1.3.2) was the latest legacy version (which is in a [separate repo](https://github.com/mozilla/lightbeam) that has been archived).

However, I would recommend updating your version of Firefox as the best solution, so that this new version of the add-on works. Here's a [Mozilla add-ons bl

[2018-10-06 22:38] Ymirithe commented on #235
i can confirm that version 1.3.2 work perfectly fine with firefox V56.
actualy, your team could probably advertise this version as a working legacy version of the plugin.

i was right to ask you for assistance in the end. thank you for your time bianca.

    Le samedi 6 octobre 2018 14:29:05 HAE, Bianca Danforth <notifications@github.com> a écrit :

It looks like Version 1.3.2 was the latest legac

[2018-11-03 15:48] Wh4tsMyName commented on #249
I have the same problem. I use Multi-Account Containers and Lightbeam isn't picking up any of the websites I visit. It works just fine outside of containers, though.

[2018-11-03 20:20] Perflyst commented on #249
@Wh4tsMyName and anyone else who may read this in the future:

The container feature is not yet implemented in this addon so this is not really an issue, more a feature request.

[2018-12-15 17:51] pclspecht commented on #227
Experiencing the same problem with the same error message:  "InvalidStateError A mutation operation was attempted on a database that did not allow mutations. storeChild.js:30:12".   Any fix for this?  We suspect it is something in the settings, but not being a techie types, don't know what to look at.
Actually, our problem started at about the same time (Oct-ish 2017) after working successfully fo

[2018-12-17 15:40] princiya commented on #227
Similar issue #246.

I am however not able to reproduce this error now.

@pclspecht did something change with the way you have been using Lightbeam? Could you please elaborate on this?

[2018-12-17 19:14] pclspecht commented on #227
Hi, Princiya.

Nothing changed that I know of.  I installed Lightbeam well over a year ago, set it to 'graph' and let it run.  It ran successfully every day for several months, then one day back in Oct/Nov 2017 it stopped giving any results.  The screen is there, but no data on it.

This is the error message in web console:   "InvalidStateError A mutation operation was attempted on a database that

[2018-12-18 08:39] princiya commented on #227
Thank you so much for the details @pclspecht :) I really appreciate your time.

I am not really sure what triggers this issue (once in a while), given that I have some time now to work on this, I will surely look into this one.

Are you in a place to offer coding help? :) If not, no worries, but I might reach out to you to test something or give more feedback. Thanks once again.

[2018-12-18 13:32] pclspecht commented on #227
Hi Priniciya.

I'm a retired ex-mainframer, so I understand processing objectives and concepts across platforms, but have no technical or coding experience outside of mainframe.

I do have a lot of experience troubleshooting code, but of course, only mainframe languages running on that platform. I'm willing to test anything and give feedback.

If I had a clue what language(s) to look for and could

[2019-02-18 01:41] moz-hwine opened #250 "Wiki changes"
FYI: The following changes were made to this repository's wiki:

- Restricting write access to contributors is strongly encouraged.  Please [make that change](https://github.com/mozilla/lightbeam-we/settings)  ([documentation](https://help.github.com/articles/changing-access-permissions-for-wikis/)).

These were made as the result of a recent automated defacement of publically writeable wikis.

[2019-03-30 06:12] Mozilla-GitHub-Standards opened #251 "CODE_OF_CONDUCT.md isn't correct"
**Your required text does not appear to be correct**

As of January 1 2019, Mozilla requires that all GitHub projects include this [CODE_OF_CONDUCT.md](https://github.com/mozilla/repo-templates/blob/master/templates/CODE_OF_CONDUCT.md) file in the project root. The file has two parts:

1. Required Text - All text under the headings *Community Participation Guidelines and How to Report*, are requir

[2019-05-28 07:00] #251 closed

[2019-06-29 08:52] Parikshit-Hooda commented on #249
I want to take up this task. May I? However, I am not sure if I would be able to finish it. Hope, thats ok!

[2019-06-29 08:53] Perflyst commented on #249
That would be really cool!

[2019-06-29 08:56] Parikshit-Hooda commented on #249
Alright.

[2019-06-29 09:43] Parikshit-Hooda opened #253 "proposing some markdown changes"
There are some portions that would benefit from a little improvements in the repo markdowns. I will be creating a PR of the type `issues/###` today after sometime. There would be no changes to the actual code and hence testing is not required. If convenient, I will also attach the screenshots.

[2019-06-29 10:54] Parikshit-Hooda opened #255 "arrow design change"
The arrow/triangle symbol that are deployed currently can use a bit more improvement on the alignment and streamlining front.
For example, The arrows for incoming and outgoing are not distinguishable. I think a colored tip to show the direction of HTTP request can improve the experience of user. If a request to Facebook tab is going outside, the 'arrow/triangle' symbol can put a red color on the t

[2019-06-29 10:57] Parikshit-Hooda commented on #246
I want to work on this. But I can't replicate the said bug on my system. Please help me out.

[2019-06-29 10:57] #253 closed

[2019-06-29 11:08] Parikshit-Hooda commented on #240
@jonathanKingston @princiya  As mentioned above by @rathann, the v2.1.0 is not documented on GitHub release yet while the cloned repo is apparently working on v2.1.0 . Also, @rathann I think I can help here. Please explain this issue to me in more detail so that I can attempt to fix this, although I am not sure if this a programmatic change or something that is done manually by authorized people r

[2019-06-29 11:26] princiya commented on #246
@Parikshit-Hooda as mentioned in the above comment, this issue was seen in the beginning but was believed to have been solved.

However, you might be able to use some hints from this article to replicate the behaviour https://whotracks.me/blog/dexie_transaction_bug.html

[2019-06-29 11:52] Parikshit-Hooda commented on #246
So, maybe we can close this issue now.

[2019-06-29 11:54] princiya commented on #246
Closing this issue isn't appropriate, until we know for sure this problem has been solved.

[2019-06-29 15:55] Parikshit-Hooda opened #256 "top-bar css issue"
resizing the lightbeam causes the top-bar css to mess up.
![Screenshot (207)](https://user-images.githubusercontent.com/25405707/60386576-54dbea00-9ab4-11e9-9226-b8d803b141a4.png)

[2019-06-29 17:43] Parikshit-Hooda commented on #256
I have updated the css file to below effect. the rendering of top bar looks presentable to me. Please look at the screenshots and approve.
![Screenshot (208)](https://user-images.githubusercontent.com/25405707/60387621-8dcf8b00-9ac3-11e9-9f2b-cd1a81ceef05.png)
![Uploading Screenshot (209).png…]()
![Uploading Screenshot (210).png…]()
![Uploading Screenshot (211).png…]()
![Uploading Screenshot (212)

[2019-06-29 17:44] Parikshit-Hooda commented on #256
I am going ahead and creating a PR too. Please merge if everything looks good.

[2019-07-01 10:30] rathann commented on #240
@Parikshit-Hooda If you follow a strict convention for commit messages and tag user-visible changes, you can generate release notes automatically. I don't think you do that in this project, so the only option would be to do this manually for every release. I'm not sure what more you want me to explain.

[2019-10-09 13:21] Booteille opened #260 "Addon deleted on AMO"
Hi.

I am wondering why this addon is no longer accessible on AMO.

Thanks.

[2019-10-09 13:56] princiya commented on #260
Interesting.. I just realised now that it's been deleted! No idea why this happened 😞

[2019-10-09 14:01] Booteille commented on #260
Yeah, I just noticed it too...

I hope it's just a mistake. It's a great tool to use when we want to advocate in favor of privacy.

[2019-10-09 20:54] petethomas commented on #260
Looking in the Internet Archive it seems the addon was [available up until Sept 21 ](https://web.archive.org/web/20190921130026/https://addons.mozilla.org/en-US/firefox/addon/lightbeam/) but offline as of [Sept 28](https://web.archive.org/web/20190921130026/https://addons.mozilla.org/en-US/firefox/addon/lightbeam/).

[2019-10-10 08:18] princiya commented on #260
I spoke to folks from Mozilla, they said they decided to remove from AMO because it is no longer actively maintained 😞

[2019-10-10 09:11] Forceflow commented on #260
But was the version up on AMO still working?

I just tried to use the extension via about: debugging, and on both my Ubuntu and Windows machines it's just displaying a black screen where the graph should be. Lots of errors in the JS debug console.

[2019-10-10 09:22] princiya commented on #260
Yes, the extension has been working. Which version of Firefox did you try? @Forceflow

[2019-10-10 15:16] Forceflow commented on #260
I'm on 69.0.2 (64-bit) and following the following steps:

1. Download source code
2. Open about:debugging
3. Loading temporary extension using the manifest.json
4. Open lightbeam
5. Browse to a site in other tab
6. Observe lightbeam (no results, buttons not working, errors in JS console)

I've also tried it using web-ext from NPM - with the same result.

[2019-10-10 19:30] facyber commented on #260
Hello,

I would like to report the same issue.

Firefox 69.0.2 (64-bit) on Linux.

[2019-10-11 00:24] Forceflow commented on #260
I've got a report from someone who installed the extension from AMO when it was still up, and her version is still working fine.

So I think either the AMO version and this repo are out of sync, or the "temporary add-on" method of using this extension has stopped working.

[2019-10-16 13:59] eviljeff commented on #260
https://support.mozilla.org/en-US/kb/lightbeam-extension-firefox-no-longer-supported

(I'm just posting the link; I'm not otherwise involved)

[2019-10-16 22:17] Forceflow commented on #260
Okay - I should probably open a new issue for the current repo build being broken / not working.

[2019-10-25 06:03] lazerhawk commented on #260
Well, if it's no longer being maintained by Mozilla, how will pull requests/bug fixes be handled now? Even if the tracking research is done, the visualization still has value on its own.

[2019-11-03 14:00] Forceflow commented on #260
I don't know. Someone should probably fork this, although it would be nice to get some sort of green light from Mozilla.

[2019-11-04 09:30] princiya commented on #260
I am trying to re-upload Lightbeam, I will keep you all posted here.

[2019-11-11 11:19] princiya commented on #260
Lightbeam is re-uploaded https://addons.mozilla.org/en-US/firefox/addon/lightbeam-3-0/

[2019-11-11 11:21] princiya commented on #260
@Forceflow regarding your previous comment, if you tried to install Lightbeam via the latest code on Github repository, then it shows a black screen, I have similar problems too.
I had to clean up the code a bit, I will push the latest code here later today https://github.com/princiya/lightbeam-we

[2020-02-02 13:26] vanowm commented on #226
Would be nice if you provided a guide...
P.S.
I really don't understand the point of "building/compiling" a browser extension, while we could simply modify the already "built" source...

[2020-10-27 15:48] mohcenlaaroussi opened #261 "Lightbeam not showing anything on screen"
when i open it i doesn't show nothing on the black screen, even if i navigate on the internet. An in the console i have this error:

    parentMessage moz-extension://50f51081-0e34-43ee-bbb1-3354fcb69409/js/storeChild.js:30
I don't know if the 2 things are related but it would be nice if someone helped me.

[2020-10-28 09:36] princiya commented on #261
please see if this [comment](https://github.com/mozilla/lightbeam-we/issues/260#issuecomment-552403810) helps?

[2020-10-28 10:00] mohcenlaaroussi commented on #261
I had a look at the repo, but it seems that you didn't push the latest code after all. i still see stuff from 4 years ago

[2020-12-13 14:33] aschrijver opened #262 "You have been added to awesome-humane-tech"
This is just a FYI issue to notify that you were added to the curated awesome-humane-tech in the 'Awareness' category, and - if you like that - are now entitled to wear our badge:

[![Awesome Humane Tech](https://raw.githubusercontent.com/humanetech-community/awesome-humane-tech/main/humane-tech-badge.svg?sanitize=true)](https://github.com/humanetech-community/awesome-humane-tech)

By adding this

[2021-08-02 09:23] acarv commented on #249
Lightbeam is an amazing, and nowadays essential, tool. Thank You for maintaining it in such difficult times for privacy.

The containers functionality is also an important tool. Unfortunately it seems that Lightbeam only works in the default container (what makes sense and proves that containers work).
Is there any way of making Lightbeam work on other containers (one instance per container of cou

[2021-08-02 09:26] acarv opened #263 "Feed back mail link not working"
The feedback mail link on the application (lightbeam-feedback@mozilla.org) returns a "Address not found ".
You might want to change it.
Thanks for maintaining such an essential tool!

[2022-01-09 23:03] RokeJulianLockhart commented on #260
@princiya, [`addons.mozilla.org/en-US/firefox/addon/lightbeam-3-0`](https://addons.mozilla.org/en-US/firefox/addon/lightbeam-3-0/) is not, currently, available.

[2022-01-10 13:45] princiya commented on #260
Yes, it's been disabled last week. The AMO team wanted some security-related answers and I was not available during the year-end holidays. I will get back to them this month.

[2022-01-11 15:07] Booteille commented on #260
Oh shit. I had a privacy workshop next weekend and needed Lightbeam to show how trackers are everywhere.

I will try to install it manually.

Thanks for your work, princiya!

Edit: Btw, since I got an answer to my question, and Lightbeam 3.0 is a thing, I close the issue.

[2022-01-11 15:07] #260 closed, assigned to nobody

[2022-09-21 11:59] huyz commented on #263
@acarv Lightbeam is no longer supported, as of October 2019: https://support.mozilla.org/en-US/kb/lightbeam-extension-firefox-no-longer-supported

[2022-09-21 11:59] huyz commented on #249
@acarv Lightbeam is no longer supported, as of October 2019: https://support.mozilla.org/en-US/kb/lightbeam-extension-firefox-no-longer-supported